

#bugreporttitle {
	font:18px;
	float:center;
	margin: 20px;
	margin-left: 200px;
	margin-top: 30px;
	
}

#bugreport_tableheader {
	/*border: 1px solid #000;*/	
	width: 90%;
	float: left;
	margin-left:10px;
	}
	
.bugreportrow {
	/*border: 1px solid #000;*/	
	float: left;
	width: 90%;
	margin-left:10px;
}
	
.id {
	border: 1px solid #000;	
	float: left;
	width: 80px;
	}

.name {
	border: 1px solid #000;
	float: left;
	width: 150px;	
	}

.date {
	border: 1px solid #000;	
	float: left;
	width: 100px;	
	
}
	
.description {
	border: 1px solid #000;	
	float: left;
	width: 300px;	
	
	}
	
.delete {
	border: 1px solid #000;	
	float: left;
	width: 50px;	
	}

.view {
	border: 1px solid #000;	
	float: left;
	width: 50px;	
	}


/*
.lastmodified {
	border: 1px solid #000;	
	float: left;
	width: 80px;	
	}
*/

#seperator {
	float: left;
	width: 100%;
	margin: 10px;	
	}
	
	
#view_title {
	font-size: 24px;
	margin-top:50px;
	margin-left: 100px;
	margin-bottom: 30px;
}

#view_name, #view_email,#view_date, #view_cyversion,#view_os, #view_description, #view_attachedfile {
	margin-top:5px;
	margin-left: 0px;
	margin-bottom: 10px;	
}
