/*- themeid=hpb9tm01_3; --------------------------------*/

/*-------------------- body --------------------*/

.hpb-body1 {
	  
	color: #728aa7;
	font-size: 100%;
}

.hpb-body2 {
	  
	color: #444444;
}

.hpb-body3 {
	  
	color: #444444;
	font-size: 100%;
}

.hpb-body4 {
	  
	color: #4873b3;
	font-size: 205%;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
}

.hpb-body5 {
}

/*-------------------- bullet --------------------*/

.hpb-bul1 {
	  
	color: #cc6600;
}

.hpb-bul2 {
	  
	color: #cc6600;
	font-size: 100%;
}

/*-------------------- maintable --------------------*/

.hpb-main {
}

/*-------------------- contents --------------------*/

.hpb-cnt-cell1 {
	  
	background-color: #cccccc;
}

.hpb-cnt-cell2 {
	  
	background-color: #ffffff;
}

.hpb-cnt-cell3 {
	  
	color: #728aa7;
	background-color: #ffffff;
	font-size: 100%;
}

.hpb-cnt-cell3-x {
	  
	color: #333333;
	font-size: 100%;
	background: #92A3C2;
	border-top: 0px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}

.hpb-cnt-cell4 {
}

.hpb-cnt-cell5 {
	  
	background: #ffffff;
	color: #728aa7;
	font-size: 100%;
}

.hpb-cnt-cell6 {
	  
	background: #ffffff;
	color: #728aa7;
	font-size: 100%;
}

.hpb-cnt-cell7 {
	  
	background: #ffffff;
}

.hpb-cnt-tb-cell1 {
	  
	color: #728aa7;
	background-color: #f0f0f0;
	border-color: #728aa7 #728aa7 #728aa7 #728aa7;
	border-style: solid solid solid solid;
	border-width: 0px 1px 1px 0px;
	font-size: 100%;
}

.hpb-cnt-tb-cell2 {
	  
	color: #728aa7;
	background-color: #ffffff;
	border-color: #728aa7 #728aa7 #728aa7 #728aa7;
	border-style: solid solid solid solid;
	border-width: 0px 1px 1px 0px;
	font-size: 100%;
}

.hpb-cnt-tb-cell3 {
	  
	color: #728aa7;
	background-color: #f0f0f0;
	border-color: #728aa7 #728aa7 #728aa7 #728aa7;
	border-style: solid solid solid solid;
	border-width: 0px 0px 0px 0px;
	font-size: 100%;
}

.hpb-cnt-tb-cell4 {
	  
	color: #728aa7;
	background-color: #ffffff;
	border-color: #728aa7 #728aa7 #728aa7 #728aa7;
	border-style: solid solid solid solid;
	border-width: 0px 0px 0px 0px;
	font-size: 100%;
}

.hpb-cnt-tb-cell5 {
	  
	color: #728aa7;
	background-color: #ffffff;
	border-color: #728aa7 #728aa7 #728aa7 #728aa7;
	border-style: solid solid solid solid;
	border-width: 0px 0px 1px 0px;
	font-size: 100%;
}

/*-------------------- design table --------------------*/

.hpb-cnt-tb-th1 {
	  
	color: #728aa7;
	background-color: #e6e6e6;
	border-color: #728aa7 #728aa7 #728aa7 #728aa7;
	border-style: solid solid solid solid;
	border-width: 0px 1px 1px 0px;
	font-size: 100%;
}

.hpb-cnt-tb-th2 {
	  
	color: #728aa7;
	background-color: #e6e6e6;
	border-color: #728aa7 #728aa7 #728aa7 #728aa7;
	border-style: solid solid solid solid;
	border-width: 0px 0px 0px 0px;
	font-size: 100%;
}

.hpb-cnt-tb1 {
	  
	background-color: #ffffff;
	border-color: #728aa7 #728aa7 #728aa7 #728aa7;
	border-style: solid solid solid solid;
	border-width: 1px 0px 0px 1px;
}

.hpb-cnt-tb2 {
	  
	background-color: #ffffff;
	border-color: #728aa7 #728aa7 #728aa7 #728aa7;
	border-style: solid solid solid solid;
	border-width: 1px 1px 1px 1px;
}

.hpb-cnt-tb3 {
	  
	background-color: #ffffff;
	border-color: #728aa7 #728aa7 #728aa7 #728aa7;
	border-style: solid solid solid solid;
	border-width: 0px 0px 0px 0px;
}

/*-------------------- column --------------------*/

.hpb-colm0 {
}

.hpb-colm0-cell1 {
	  
	color: #728aa7;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	font-size: 100%;
	font-weight: bold;
}

.hpb-colm0-cell2 {
	  
	color: #728aa7;
	font-size: 100%;
}

.hpb-colm1 {
}

.hpb-colm1-cell1 {
	  
	color: #728aa7;
	background-color: #f3f3f3;
	border-color: #728aa7 #728aa7 #728aa7 #728aa7;
	border-style: solid solid solid solid;
	border-width: 1px 1px 1px 1px;
	font-size: 100%;
	font-weight: bold;
}

.hpb-colm1-cell2 {
	  
	color: #728aa7;
	border-color: #728aa7 #728aa7 #728aa7 #728aa7;
	border-style: solid solid solid solid;
	border-width: 0px 1px 1px 1px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
	font-size: 100%;
}

.hpb-colm2 {
}

.hpb-colm2-cell1 {
	  
	color: #728aa7;
	border-color: #728aa7 #728aa7 #728aa7 #728aa7;
	border-style: solid solid none solid;
	border-width: 1px 1px 1px 1px;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	font-size: 100%;
	font-weight: bold;
}

.hpb-colm2-cell2 {
	  
	color: #728aa7;
	border-color: #728aa7 #728aa7 #728aa7 #728aa7;
	border-style: none solid solid solid;
	border-width: 1px 1px 1px 1px;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	font-size: 100%;
}

/*------------------- Mount --------------------*/

/* style */
.hpb-lay-mount1 {

	/*border-color: #728aa7 #728aa7 #728aa7 #728aa7;

	border-style: solid solid solid solid;

	border-width: 1px 1px 1px 1px;*/
	font-size: 100%;
}

.hpb-lay-mount2 {
	  
	padding: 4px 4px 4px 4px;
	color: #728aa7;
	background-color: #f0f0f0;
	border-color: #728aa7 #728aa7 #728aa7 #728aa7;
	border-style: solid solid solid solid;
	border-width: 0px 1px 1px 0px;
	font-size: 100%;
}

.hpb-lay-mount3 {
	  
	padding: 0px 4px 4px 0px;
	border-color: #728aa7 #728aa7 #728aa7 #728aa7;
	border-style: solid solid solid solid;
	border-width: 0px 1px 1px 0px;
	font-size: 100%;
}

/*-------------------- head --------------------*/

.hpb-head {
}

.hpb-head-cell1 {
	  
	color: #ffffff;
	background-color: #4873b3;
	font-size: 100.000%;
	font-weight: bold;
}

.hpb-head-cell2 {
	  
	background-color: #cccccc;
}

.hpb-head-tb1 {
}

.hpb-head-tb1-cell1 {
}

.hpb-head-tb1-cell2 {
	  
	color: #3366cc;
	font-size: 100%;
}

/*-------------------- horizontal rule --------------------*/

.hpb-hr01 {
	  
	margin-top: 7px;
	margin-right: 0px;
	margin-bottom: 7px;
	margin-left: 0px;
}

.hpb-hr01-cell1 {
	  
	background-image : url(01hr03.gif);
	background-repeat: repeat-x;
	font-size: 100%;
	font-weight: bold;
}

.hpb-hr02 {
}

.hpb-hr02-cell1 {
	  
	border-bottom: 1px solid #728aa7;
}

.hpb-hr02-cell2 {
	  
	border-bottom: 1px dashed #728aa7;
}

.hpb-hr02-cell3 {
}

/*-------------------- list --------------------*/

.hpb-list1 {
	  
	color: #728aa7;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 16px;
	list-style-image : url(01bul05.gif);
	list-style-position: outside;
	list-style-type: none;
}

/*-------------------- side --------------------*/

.hpb-side-cell1 {
	  
	background-color: #4873b3;
}

.hpb-side-cell2 {
	  
	background-color: #92a3c2;
}

.hpb-side-cell3 {
	  
	color: #728aa7;
	background-color: #92a3c2;
	font-size: 100%;
}

.hpb-side-cell4 {
	  
	background-color: #92a3c2;
}

.hpb-side-tb1 {
}

.hpb-side-tb1-cell1 {
}

.hpb-side-tb1-cell2 {
}

.hpb-side-tb1-cell3 {
}

.hpb-side-tb1-cell4 {
}

.hpb-side-tb1-cell5 {
}

.hpb-side-tb1-cell6 {
}

.hpb-side-tb1-cell7 {
}

/*-------------------- subhead --------------------*/

.hpb-subh01 {
	  
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 7px;
	margin-left: 0px;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 7px;
}

.hpb-subh01-cell1 {
	  
	color: #728aa7;
	background-image : url(01subh01.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	font-size: 100%;
	font-weight: bold;
}

.hpb-subh02 {
}

.hpb-subh02-cell1 {
	  
	color: #728AA7;
	font-size: 100%;
	font-weight: bold;
	background: #D0DFEE;
	border: none;
	padding: 3px 3px 3px 7px;
}

.hpb-subh02-cell2 {
	  
	color: #728AA7;
	font-size: 100%;
	font-weight: bold;
	background: #D0DFEE;
	padding: 3px 3px 3px 7px;
}

.hpb-subh02-cell3 {
	  
	color: #728AA7;
	font-size: 100%;
	font-weight: bold;
	background: #D0DFEE;
	padding: 3px 7px 3px 3px;
}

.hpb-subh02-cell4 {
	  
	font-size: 100%;
	font-weight: bold;
	padding: 3px 3px 3px 7px;
	border-right: 1px solid #D0DFEE;
	border-bottom: 1px solid #D0DFEE;
}

.hpb-subh02-cell5 {
}

.hpb-subh02-cell6 {
}

.hpb-subh03 {
	  
	color: #728AA7;
	font-size: 100%;
	font-weight: bold;
	background: #D0DFEE;
	padding: 3px 3px 3px 7px;
}

.hpb-subh04 {
	  
	font-size: 100%;
	font-weight: bold;
	padding: 3px 3px 3px 7px;
}

.hpb-subh05 {
	  
	font-size: 100%;
	height: 15px;
}

/*-------------------- layout base --------------------*/

.hpb-lb-tb1 {
	  
	width: 610px;
	background: #ffffff;
	border-top: 1px none;
	border-right: 0px solid #ffffff;
	border-bottom: 0px none;
	border-left: 0px solid #FFFFFF;
}

.hpb-lb-tb1-cell1 {
	  
	font-size: 100%;
	color: #5A81BF;
	background-color: #dddddd;
	padding: 14px;
	width: 204px;
}

.hpb-lb-tb1-cell2 {
	  
	width: 406px;
	border-left: 0px solid #FFFFFF;
}

.hpb-lb-tb1-cell3 {
	  
	padding-left: 27px;
	padding-right: 2px;
	font-size: 100%;
}

.hpb-lb-tb1-cell4 {
	  
	font-size: 100%;
	font-weight: bold;
	color: #4873b3;
	background-color: #dddddd;
	padding: 13px 14px;
}

.hpb-lb-tb1-cell5 {
}

.hpb-lb-tb1-cell6 {
}

.hpb-lb-tb1-cell7 {
}

.hpb-lb-tb1-cell8 {
}

.hpb-lb-tb2 {
	  
	width: 453px;
	background: #ffffff;
	border-top: 1px none;
	border-right: 0px solid #ffffff;
	border-bottom: 0px none;
	border-left: 0px solid #FFFFFF;
}

.hpb-lb-tb2-cell3 {
	  
	padding-left: 27px;
	padding-right: 2px;
	font-size: 100%;
}

.hpb-lb-tb2-cell4 {
	  
	font-size: 100%;
	font-weight: bold;
	color: #4873b3;
	background-color: #dddddd;
	padding: 13px 14px;
}

.hpb-lb-tb3 {
	  
	width: 603px;
	background: #ffffff;
	border-top: 1px none;
	border-right: 0px solid #ffffff;
	border-bottom: 0px none;
	border-left: 0px solid #FFFFFF;
}

.hpb-lb-tb3-cell3 {
	  
	padding-left: 27px;
	padding-right: 2px;
	font-size: 100%;
}

.hpb-lb-tb3-cell4 {
	  
	font-size: 100%;
	font-weight: bold;
	color: #4873b3;
	background-color: #dddddd;
	padding: 13px 14px;
}

.hpb-lb-tb4 {
}

/*-------------------- design parts--------------------*/

.hpb-dp-tb1 {
}

.hpb-dp-tb1-cell1 {
	  
	font-size: 100%;
	padding: 14px;
	border-bottom: 1px solid #728aa7;
	border-left: 1px solid #728aa7;
	background-color: #ffffff;
}

.hpb-dp-tb1-cell2 {
	  
	font-size: 100%;
	border-bottom: 1px solid #728aa7;
	border-right: 1px solid #728aa7;
}

.hpb-dp-tb1-cell3 {
	  
	font-size: 100%;
	border-bottom: 1px solid #728aa7;
}

.hpb-dp-tb1-cell4 {
	  
	font-size: 100%;
	padding: 14px;
	border-bottom: 1px solid #728aa7;
	border-right: 1px solid #728aa7;
}

.hpb-dp-tb1-cell5 {
	  
	font-size: 100%;
	border: 1px dashed #728aa7;
}

.hpb-dp-tb2 {
}

.hpb-dp-tb2-cell1 {
	  
	background: #92a3c2;
	border-right: 1px solid #92a3c2;
	font-size: 100%;
	font-weight: bold;
	padding: 10px 7px;
	color: #FFFFFF;
}

.hpb-dp-tb2-cell2 {
	  
	border-right: 1px solid #92a3c2;
	font-size: 100%;
	padding-right: 7px;
	padding-left: 7px;
	padding-top: 7px;
}

.hpb-dp-tb2-cell3 {
	  
	font-size: 100%;
	border-right: 1px solid #728aa7;
	padding: 7px 7px 7px 14px;
}

.hpb-dp-tb2-cell4 {
	  
	border-right: 1px solid #728aa7;
}

.hpb-dp-tb2-cell5 {
}

.hpb-dp-tb3 {
}

.hpb-dp-tb3-cell1 {
	  
	border: 1px solid #728aa7;
}

.hpb-dp-tb3-cell2 {
}

.hpb-dp-tb3-cell3 {
}

.hpb-dp-tb4 {
}

.hpb-dp-tb4-cell1 {
	  
	font-size: 100%;
	padding: 14px;
	border-bottom: 1px solid #728aa7;
	border-left: 1px solid #728aa7;
	border-top: 1px solid #728aa7;
}

.hpb-dp-tb4-cell2 {
	  
	font-size: 100%;
	border-bottom: 1px solid #728aa7;
	border-right: 1px solid #728aa7;
	border-top: 1px solid #728aa7;
}

.hpb-dp-tb4-cell3 {
	  
	font-size: 100%;
	border-bottom: 1px solid #728aa7;
	border-left: 1px solid #728aa7;
	border-top: 1px solid #728aa7;
}

.hpb-dp-tb4-cell4 {
	  
	font-size: 100%;
	padding: 14px;
	border-bottom: 1px solid #728aa7;
	border-right: 1px solid #728aa7;
	border-top: 1px solid #728aa7;
}

.hpb-dp-tb4-cell5 {
	  
	font-size: 100%;
	padding: 14px;
}

.hpb-dp-tb4-cell6 {
	  
	font-size: 100%;
}

.hpb-dp-tb4-cell7 {
	  
	font-size: 100%;
	padding: 14px;
	border: 1px solid #728aa7;
}

.hpb-dp-tb4-cell8 {
	  
	font-size: 100%;
	padding: 14px;
	border: 1px dashed #728aa7;
}

.hpb-dp-tb4-cell9 {
	  
	font-size: 100%;
	padding: 14px;
}

.hpb-dp-tb4-cell10 {
	  
	font-size: 100%;
	padding: 14px;
	border-bottom: 1px solid #728aa7;
}

.hpb-dp-tb4-cell11 {
	  
	font-size: 100%;
	border-bottom: 1px solid #728aa7;
	border-right: 1px solid #728aa7;
}

.hpb-dp-tb4-cell12 {
	  
	font-size: 100%;
	border-bottom: 1px solid #728aa7;
	border-left: 1px solid #728aa7;
}

.hpb-dp-tb4-cell13 {
	  
	font-size: 100%;
	padding: 14px;
	border-right: 1px solid #728aa7;
	border-bottom: 1px solid #728aa7;
}

.hpb-dp-tb4-cell14 {
	  
	font-size: 100%;
	padding: 14px;
	border-bottom: 1px solid #728aa7;
	border-left: 1px solid #728aa7;
}

.hpb-dp-tb5 {
}

.hpb-dp-tb5-cell1 {
	  
	font-size: 100%;
	border-right: 1px solid #728aa7;
	border-bottom: 1px solid #728aa7;
	padding-right: 7px;
	padding-bottom: 7px;
	padding-left: 7px;
}

.hpb-dp-tb5-cell2 {
	  
	font-size: 100%;
}

.hpb-dp-tb5-cell3 {
}

.hpb-dp-tb5-cell4 {
}

.hpb-dp-tb5-cell5 {
	  
	font-size: 100%;
	padding: 14px;
	background: #D9E1EE;
	color: #666666;
}

.hpb-dp-tb5-cell6 {
	  
	font-size: 100%;
	border-left: 1px solid #728aa7;
	border-top: 1px solid #728aa7;
	padding-right: 7px;
	padding-top: 7px;
	padding-left: 7px;
}

.hpb-dp-tb6 {
	  
	width: 9px;
}

.hpb-dp-tb7 {
	  
	font-size: 100%;
	padding: 14px;
}

.hpb-dp-tb8 {
	  
	width: 9px;
}

.hpb-dp-tb9 {
}

.hpb-dp-tb9-ph {
}

/*-------------------- calendar --------------------*/

.hpb-ca-tb1 {
}

.hpb-ca-tb1-cell1 {
	  
	background: #e6e6e6;
	color: #728aa7;
	font-size: 100%;
	border-top: 1px solid #728aa7;
	border-left: 1px solid #728aa7;
}

.hpb-ca-tb1-cell2 {
	  
	font-size: 100%;
	background: #aaaaaa;
	font-weight: bold;
	color: #FFFFFF;
	border-left: 0px solid #728aa7;
	border-top: 1px solid #728aa7;
}

.hpb-ca-tb1-cell3 {
	  
	font-size: 100%;
	background: #aaaaaa;
	font-weight: bold;
	color: #FFFFFF;
	border-left: 0px solid #728aa7;
	border-top: 1px solid #728aa7;
}

.hpb-ca-tb1-cell4 {
	  
	font-size: 100%;
	background: #ffffff;
	border-bottom: 1px solid #728aa7;
	border-left: 1px solid #728aa7;
	border-right: 1px solid #728aa7;
}

.hpb-ca-tb1-cell5 {
	  
	font-size: 100%;
	background: #ffffff;
	border-bottom: 1px solid #728aa7;
	border-right: 1px solid #728aa7;
	height: 85px;
}

.hpb-ca-tb1-cell6 {
	  
	font-size: 100%;
	background: #ffffff;
	border-bottom: 1px solid #728aa7;
	height: 85px;
	border-right: 1px solid #728aa7;
}

.hpb-ca-tb1-cell7 {
}

.hpb-ca-tb1-cell8 {
}

.hpb-ca-tb1-cell9 {
}

.hpb-ca-tb1-cell10 {
}

.hpb-ca-tb1-cell11 {
}

.hpb-ca-tb1-cell12 {
}

.hpb-ca-tb1-cell13 {
}

.hpb-ca-tb1-cell14 {
}

.hpb-ca-tb1-cell15 {
}

.hpb-ca-tb1-cell16 {
}

.hpb-ca-tb1-cell17 {
}

.hpb-ca-tb1-cell18 {
}

.hpb-ca-tb1-cell19 {
}

.hpb-ca-tb1-cell20 {
}

.hpb-ca-tb1-cell21 {
}

.hpb-ca-tb1-cell22 {
}

.hpb-ca-tb2 {
}

.hpb-ca-tb2-cell1 {
	  
	font-size: 100%;
	font-weight: bold;
	color: #dd6666;
}

.hpb-ca-tb2-cell2 {
	  
	font-size: 100%;
	font-weight: bold;
	color: #868686;
}

.hpb-ca-tb2-cell3 {
	  
	font-size: 100%;
	font-weight: bold;
	color: #5862B6;
}

.hpb-ca-tb2-cell4 {
}

.hpb-ca-tb2-cell5 {
}

.hpb-ca-tb2-cell6 {
}

.hpb-ca-tb2-cell7 {
}

.hpb-ca-tb2-cell8 {
}

.hpb-ca-tb2-cell9 {
}

.hpb-ca-tb3 {
}

.hpb-ca-tb3-cell1 {
}

.hpb-ca-tb3-cell2 {
}

.hpb-ca-tb3-cell3 {
}

/*-------------------- Schedule --------------------*/

.hpb-sc-tb1 {
}

.hpb-sc-tb1-cell1 {
	  
	background: #e6e6e6;
	color: #728aa7;
	font-size: 100%;
	border-top: 1px solid #728aa7;
	border-left: 1px solid #728aa7;
}

.hpb-sc-tb1-cell2 {
	  
	font-size: 100%;
	background: #e6e6e6;
	font-weight: bold;
	color: #728aa7;
	border-top: 1px solid #728aa7;
}

.hpb-sc-tb1-cell3 {
	  
	font-size: 100%;
	background: #ffffff;
	font-weight: bold;
	color: #728aa7;
	border-top: 1px solid #728aa7;
}

.hpb-sc-tb1-cell4 {
	  
	font-size: 100%;
	border-bottom: 1px solid #728aa7;
	font-weight: bold;
}

.hpb-sc-tb1-cell5 {
	  
	font-size: 100%;
	border-bottom: 1px solid #728aa7;
	height: 30px;
	font-weight: bold;
	color: #868686;
}

.hpb-sc-tb1-cell6 {
	  
	font-size: 100%;
	border-bottom: 1px solid #728aa7;
	height: 30px;
	font-weight: bold;
	color: #dd6666;
}

.hpb-sc-tb1-cell7 {
	  
	font-size: 100%;
	border-bottom: 1px solid #728aa7;
	height: 30px;
}

.hpb-sc-tb1-cell8 {
}

.hpb-sc-tb1-cell9 {
}

.hpb-sc-tb1-cell10 {
}

/*-------------------- Links --------------------*/

.hpb-li-tb1 {
}

.hpb-li-tb1-cell1 {
	  
	font-size: 100%;
	padding-top: 7px;
	padding-bottom: 7px;
	border-bottom: 1px solid #728aa7;
}

.hpb-li-tb1-cell2 {
	  
	font-size: 100%;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 3px;
	border-bottom: 1px solid #728aa7;
}

.hpb-li-tb1-cell3 {
}

/*-------------------- vertical menu --------------------*/

.hpb-vmenu1 {
	  
	width: 150px;
}

.hpb-vmenu1-head {
	  
	background: #92a3c2;
}

.hpb-vmenu1-foot {
}

.hpb-vmenu1-hil {
	  
	color: #ffffff;
	background-color: #4873b3;
	font-size: 100%;
	font-weight: bold;
}

.hpb-vmenu1-plain {
	  
	color: #FFFFFF;
	background-color: #92a3c2;
	font-size: 100%;
	font-weight: bold;
}

.hpb-vmenu1-idle1 {
	  
	color: #FFFFFF;
	background: #92a3c2;
}

.hpb-vmenu1-idle2 {
	  
	color: #FFFFFF;
	background: #92a3c2;
	background-image : url(c.gif);
	background-repeat: no-repeat;
	background-position: left center;
}

.hpb-vmenu1-link0:link {
	  
	color: #ffffff;
	text-decoration: none;
}

.hpb-vmenu1-link0:visited {
	  
	color: #ffffff;
	text-decoration: none;
}

.hpb-vmenu1-link0:hover {
	  
	color: #ffffff;
	text-decoration: underline;
}

.hpb-vmenu1-link1:link {
	  
	color: #ffffff;
	font-size: 100%;
	text-decoration: none;
}

.hpb-vmenu1-link1:visited {
	  
	color: #ecc9f8;
	font-size: 100%;
	text-decoration: none;
}

.hpb-vmenu1-link1:hover {
	  
	color: #ffffff;
	font-size: 100%;
	text-decoration: underline;
}

.hpb-vmenu1-link2:link {
	  
	color: #ffffff;
	font-size: 100%;
	text-decoration: none;
}

.hpb-vmenu1-link2:visited {
	  
	color: #ecc9f8;
	font-size: 100%;
	text-decoration: none;
}

.hpb-vmenu1-link2:hover {
	  
	color: #ffffff;
	font-size: 100%;
	text-decoration: underline;
}

/*-------------------- horizontal menu --------------------*/

.hpb-hmenu1 {
}

.hpb-hmenu1-hil {
	  
	color: #728aa7;
	font-size: 100%;
	font-weight: bold;
	padding-right: 13px;
	padding-left: 13px;
}

.hpb-hmenu1-plain {
	  
	font-size: 100%;
	color: #728aa7;
	padding-right: 13px;
	padding-left: 13px;
}

.hpb-hmenu1-idle1 {
	  
	padding-right: 13px;
	padding-left: 13px;
}

.hpb-hmenu1-idle2 {
	  
	padding-right: 13px;
	padding-left: 13px;
	background-image : url(c.gif);
	background-repeat: no-repeat;
	background-position: left center;
}

.hpb-hmenu1-link0:link {
	  
	color: #728aa7;
	text-decoration: none;
}

.hpb-hmenu1-link0:visited {
	  
	color: #728aa7;
	text-decoration: none;
}

.hpb-hmenu1-link0:hover {
	  
	color: #728aa7;
	text-decoration: underline;
}

.hpb-hmenu1-link1:link {
	  
	color: #728aa7;
	font-size: 100%;
	text-decoration: none;
}

.hpb-hmenu1-link1:visited {
	  
	color: #c271cb;
	font-size: 100%;
	text-decoration: none;
}

.hpb-hmenu1-link1:hover {
	  
	color: #728aa7;
	font-size: 100%;
	text-decoration: underline;
}

.hpb-hmenu1-link2:link {
	  
	color: #728aa7;
	font-size: 100%;
	text-decoration: none;
}

.hpb-hmenu1-link2:visited {
	  
	color: #c271cb;
	font-size: 100%;
	text-decoration: none;
}

.hpb-hmenu1-link2:hover {
	  
	color: #728aa7;
	font-size: 100%;
	text-decoration: underline;
}

.hpb-hmenu2 {
}

.hpb-hmenu2-hil {
	  
	color: #a4a4a4;
	font-size: 100.0%;
	font-weight: bold;
	padding-right: 10px;
	padding-left: 10px;
}

.hpb-hmenu2-plain {
	  
	font-size: 100.0%;
	padding-right: 10px;
	padding-left: 10px;
}

.hpb-hmenu2-idle1 {
	  
	padding-right: 10px;
	padding-left: 10px;
}

.hpb-hmenu2-idle2 {
	  
	background-image : url(c.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-right: 10px;
	padding-left: 10px;
}

.hpb-hmenu2-link0:link {
	  
	color: #a4a4a4;
	font-size: 100.00%;
	text-decoration: none;
}

.hpb-hmenu2-link0:visited {
	  
	color: #a4a4a4;
	font-size: 100.00%;
	text-decoration: none;
}

.hpb-hmenu2-link0:hover {
	  
	color: #a4a4a4;
	font-size: 100.00%;
	text-decoration: underline;
}

.hpb-hmenu2-link1:link {
	  
	color: #a4a4a4;
	font-size: 100.0%;
	text-decoration: none;
}

.hpb-hmenu2-link1:visited {
	  
	color: #ec7dcb;
	font-size: 100.0%;
	text-decoration: none;
}

.hpb-hmenu2-link1:hover {
	  
	color: #a4a4a4;
	font-size: 100.0%;
	text-decoration: underline;
}

.hpb-hmenu2-link2:link {
	  
	color: #a4a4a4;
	font-size: 100.0%;
	text-decoration: none;
}

.hpb-hmenu2-link2:visited {
	  
	color: #ec7dcb;
	font-size: 100.0%;
	text-decoration: none;
}

.hpb-hmenu2-link2:hover {
	  
	color: #a4a4a4;
	font-size: 100.0%;
	text-decoration: underline;
}

/*-------------------- content menu --------------------*/

.hpb-vmenuc1 {
}

.hpb-vmenuc1-hil {
}

.hpb-vmenuc1-plain {
	  
	font-size: 100%;
	padding-top: 3px;
	padding-bottom: 3px;
}

.hpb-vmenuc1-idle1 {
	  
	padding-top: 3px;
	padding-bottom: 3px;
}

.hpb-vmenuc1-idle2 {
	  
	padding-left: 12px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.hpb-vmenuc1-link0:link {
}

.hpb-vmenuc1-link0:visited {
}

.hpb-vmenuc1-link0:hover {
}

.hpb-vmenuc1-link1:link {
	  
	font-size: 100%;
}

.hpb-vmenuc1-link1:visited {
	  
	font-size: 100%;
}

.hpb-vmenuc1-link1:hover {
	  
	font-size: 100%;
}

.hpb-vmenuc1-link2:link {
	  
	font-size: 100%;
}

.hpb-vmenuc1-link2:visited {
	  
	font-size: 100%;
}

.hpb-vmenuc1-link2:hover {
	  
	font-size: 100%;
}

.hpb-hmenuc1 {
}

.hpb-hmenuc1-hil {
}

.hpb-hmenuc1-plain {
	  
	padding-right: 8px;
	padding-left: 8px;
	font-size: 100%;
}

.hpb-hmenuc1-idle1 {
	  
	padding-right: 8px;
	padding-left: 8px;
}

.hpb-hmenuc1-idle2 {
	  
	padding-right: 8px;
	padding-left: 8px;
}

.hpb-hmenuc1-link0:link {
}

.hpb-hmenuc1-link0:visited {
}

.hpb-hmenuc1-link0:hover {
}

.hpb-hmenuc1-link1:link {
	  
	font-size: 100%;
}

.hpb-hmenuc1-link1:visited {
	  
	font-size: 100%;
}

.hpb-hmenuc1-link1:hover {
	  
	font-size: 100%;
}

.hpb-hmenuc1-link2:link {
	  
	font-size: 100%;
}

.hpb-hmenuc1-link2:visited {
	  
	font-size: 100%;
}

.hpb-hmenuc1-link2:hover {
	  
	font-size: 100%;
}

/*-------------------- element type --------------------*/

a:link {
	  
	color: #0000ff;
	text-decoration: none;
}

a:visited {
	  
	color: #990099;
	text-decoration: none;
}

a:hover {
	  
	color: #0000ff;
	text-decoration: underline;
}

body {
	  
	color: #728aa7;
	background-color: #ffffff;
	background-image: none;
	background-repeat: no-repeat;
	margin-top: 2px;
	margin-right: 2px;
	margin-bottom: 2px;
	margin-left: 2px;
	font-size: 100%;
	text-align: center;
}

h1 {
	  
	color: #728aa7;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-size: 140%;
	font-weight: bold;
}

h2 {
	  
	color: #728aa7;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-size: 135%;
	font-weight: bold;
}

h3 {
	  
	color: #728aa7;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-size: 125%;
	font-weight: bold;
}

h4 {
	  
	color: #728aa7;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-size: 119%;
	font-weight: bold;
}

h5 {
	  
	color: #728aa7;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-size: 110%;
	font-weight: bold;
}

h6 {
	  
	color: #728aa7;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-size: 100%;
	font-weight: bold;
}

address {
	  
	color: #9b9b9b;
	margin-top: 8px;
	margin-right: 0px;
	margin-bottom: 8px;
	margin-left: 0px;
}

blockquote {
	  
	color: #9b9b9b;
	margin-top: 8px;
	margin-right: 15px;
	margin-bottom: 8px;
	margin-left: 15px;
}

p {
	  
	color: #728aa7;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-weight: normal;
}

pre {
	  
	color: #9b9b9b;
	margin-top: 8px;
	margin-right: 0px;
	margin-bottom: 8px;
	margin-left: 0px;
}

ul {
	  
	color: #728aa7;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 16px;
	list-style-image : url(01bul05.gif);
	list-style-position: outside;
	list-style-type: none;
}

th {
	  
	color: #728aa7;
	background-color: #e6e6e6;
	border-color: #728aa7 #728aa7 #728aa7 #728aa7;
	border-style: solid solid solid solid;
	border-width: 0px 1px 1px 0px;
	font-size: 100%;
}

select {
	  
	color: #728aa7;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-weight: normal;
}

.hpb-head,.hpb-main {
	  
	margin-right: auto;
	margin-left: auto;
	text-align: left;
}

body,body * {
	  
	line-height: 150%;
}