/*- themeid=hpb12tm12_06;--------------------------------*/ 

/*-------------------- body --------------------*/

.hpb-body1 {
	  
	color: #333333;
	font-size: 100.000%;
}

.hpb-body2 {
	  
	color: #000000;
}

.hpb-body3 {
	  
	color: #000000;
	font-size: 100.000%;
}

.hpb-body4 {
	  
	color: #003366;
	font-size: 170%;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
}

.hpb-body5 {
}

/*-------------------- bullet --------------------*/

.hpb-bul1 {
	  
	color: #cc6600;
}

.hpb-bul2 {
	  
	color: #cc6600;
	font-size: 100.000%;
}

/*-------------------- maintable --------------------*/

.hpb-main {
	  
	padding-right: 1px;
	width: 761px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

/*-------------------- contents --------------------*/

.hpb-cnt-cell1 {
	  
	background-color: #C0E1F7;
}

.hpb-cnt-cell2 {
	  
	background-color: #99ccff;
}

.hpb-cnt-cell3 {
	  
	font-size: 100.000%;
}

.hpb-cnt-cell3-x {
	  
	background-color: #ffffff;
}

.hpb-cnt-cell4 {
	  
	background-color: #000099;
}

.hpb-cnt-cell5 {
	  
	background: #ffffff;
	font-size: 100.000%;
}

.hpb-cnt-cell6 {
	  
	background: #ffffff;
	font-size: 100.000%;
}

.hpb-cnt-cell7 {
	  
	background: #ffffff;
}

.hpb-cnt-tb-cell1 {
	  
	color: #6d6d6d;
	background-color: #f0f0f0;
	border-color: #cccccc #cccccc #cccccc #cccccc;
	border-style: solid solid solid solid;
	border-width: 0px 1px 1px 0px;
	font-size: 100.000%;
}

.hpb-cnt-tb-cell2 {
	  
	color: #715f8b;
	background-color: #ffffff;
	border-color: #cccccc #cccccc #cccccc #cccccc;
	border-style: solid solid solid solid;
	border-width: 0px 1px 1px 0px;
	font-size: 100.000%;
}

.hpb-cnt-tb-cell3 {
	  
	color: #6d6d6d;
	background-color: #f0f0f0;
	border-color: #cccccc #cccccc #cccccc #cccccc;
	border-style: solid solid solid solid;
	border-width: 0px 0px 0px 0px;
	font-size: 100.000%;
}

.hpb-cnt-tb-cell4 {
	  
	color: #715f8b;
	background-color: #ffffff;
	border-color: #cccccc #cccccc #cccccc #cccccc;
	border-style: solid solid solid solid;
	border-width: 0px 0px 0px 0px;
	font-size: 100.000%;
}

.hpb-cnt-tb-cell5 {
	  
	color: #715f8b;
	background-color: #ffffff;
	border-color: #cccccc #cccccc #cccccc #cccccc;
	border-style: solid solid solid solid;
	border-width: 0px 0px 1px 0px;
	font-size: 100.000%;
}

/*-------------------- design table --------------------*/

.hpb-cnt-tb-th1 {
	  
	margin-top: 10px;
}

.hpb-cnt-tb-th2 {
	  
	color: #ffffff;
	background-color: #000099;
	border-color: #cccccc #cccccc #cccccc #cccccc;
	border-style: solid solid solid solid;
	border-width: 0px 0px 0px 0px;
	font-size: 100.000%;
}

.hpb-cnt-tb1 {
}

.hpb-cnt-tb2 {
	  
	background-color: #ffffff;
	border-color: #cccccc #cccccc #cccccc #cccccc;
	border-style: solid solid solid solid;
	border-width: 1px 1px 1px 1px;
}

.hpb-cnt-tb3 {
	  
	background-color: #ffffff;
	border-color: #cccccc #cccccc #cccccc #cccccc;
	border-style: solid solid solid solid;
	border-width: 0px 0px 0px 0px;
}

/*-------------------- column --------------------*/

.hpb-colm0 {
}

.hpb-colm0-cell1 {
	  
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	font-size: 100.000%;
	font-weight: bold;
}

.hpb-colm0-cell2 {
	  
	font-size: 100%;
}

.hpb-colm1 {
}

.hpb-colm1-cell1 {
	  
	color: #ffffff;
	background-color: #000099;
	border-color: #cccccc #cccccc #cccccc #cccccc;
	border-style: solid solid solid solid;
	border-width: 1px 1px 1px 1px;
	font-size: 100.000%;
	font-weight: bold;
}

.hpb-colm1-cell2 {
	  
	color: #6d6d6d;
	background-color: #ffffff;
	border-color: #cccccc #cccccc #cccccc #cccccc;
	border-style: solid solid solid solid;
	border-width: 0px 1px 1px 1px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
	font-size: 100.000%;
}

.hpb-colm2 {
}

.hpb-colm2-cell1 {
	  
	border-color: #cccccc #cccccc #cccccc #cccccc;
	border-style: solid solid none solid;
	border-width: 1px 1px 1px 1px;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	font-size: 100.000%;
	font-weight: bold;
}

.hpb-colm2-cell2 {
	  
	border-color: #cccccc #cccccc #cccccc #cccccc;
	border-style: none solid solid solid;
	border-width: 1px 1px 1px 1px;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	font-size: 100.000%;
}

/*------------------- mount --------------------*/

/* style */
.hpb-lay-mount1 {
	  

  /*border-color: #cccccc #cccccc #cccccc #cccccc;

  border-style: solid solid solid solid;

  border-width: 1px 1px 1px 1px;

  */
	font-size: 100%;
}

.hpb-lay-mount2 {
	  
	padding: 4px 4px 4px 4px;
	color: #6d6d6d;
	background-color: #f0f0f0;
	border-color: #cccccc #cccccc #cccccc #cccccc;
	border-style: solid solid solid solid;
	border-width: 0px 1px 1px 0px;
	font-size: 100.000%;
}

.hpb-lay-mount3 {
	  
	padding: 0px 4px 4px 0px;
	border-color: #cccccc #cccccc #cccccc #cccccc;
	border-style: solid solid solid solid;
	border-width: 0px 1px 1px 0px;
	font-size: 100.000%;
}

/*-------------------- head --------------------*/

.hpb-head {
	  
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

.hpb-head-cell1 {
	  
	color: #aa0000;
	background-color: #13327d;
	font-size: 100.000%;
	font-weight: bold;
}

.hpb-head-cell2 {
	  
	background-color: #003366;
}

.hpb-head-tb1 {
}

.hpb-head-tb1-cell1 {
}

.hpb-head-tb1-cell2 {
	  
	color: #ffffff;
	font-size: 100.000%;
}

/*-------------------- horizontal rule --------------------*/

.hpb-hr01 {
	  
	margin-top: 7px;
	margin-right: 0px;
	margin-bottom: 7px;
	margin-left: 0px;
}

.hpb-hr01-cell1 {
	  
	background-image : url(03hr02.gif);
	background-repeat: repeat-x;
	font-size: 100.000%;
	font-weight: bold;
}

.hpb-hr02 {
}

.hpb-hr02-cell1 {
	  
	border-bottom: 1px solid #cccccc;
}

.hpb-hr02-cell2 {
	  
	border-bottom: 1px dashed #cccccc;
}

.hpb-hr02-cell3 {
}

/*-------------------- list --------------------*/

.hpb-list1 {
	  
	color: #6d6d6d;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 16px;
	list-style-image : url(03bul15.gif);
	list-style-position: outside;
	list-style-type: none;
}

/*-------------------- side --------------------*/

.hpb-side-cell1 {
	  
	background-color: #ffffff;
}

.hpb-side-cell2 {
	  
	background-color: #000099;
}

.hpb-side-cell3 {
	  
	background-color: #c0e1f7;
	font-size: 100%;
	width: 150px;
}

.hpb-side-cell4 {
	  
	background-color: #cccccc;
}

.hpb-side-tb1 {
}

.hpb-side-tb1-cell1 {
}

.hpb-side-tb1-cell2 {
}

.hpb-side-tb1-cell3 {
}

.hpb-side-tb1-cell4 {
}

.hpb-side-tb1-cell5 {
}

.hpb-side-tb1-cell6 {
}

.hpb-side-tb1-cell7 {
	  
	background-color: #cccccc;
}

/*-------------------- subhead --------------------*/

.hpb-subh01 {
}

.hpb-subh01-cell1 {
	  
	color: #708ebf;
	background-image : url(03subh08.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	font-size: 100%;
	font-weight: bold;
}

.hpb-subh02 {
}

.hpb-subh02-cell1 {
	  
	color: #708ebf;
	font-size: 100%;
	font-weight: bold;
	background: #d9d9d9;
	border: none;
	padding: 3px 3px 3px 7px;
}

.hpb-subh02-cell2 {
	  
	color: #708ebf;
	font-size: 100%;
	font-weight: bold;
	background: #d9d9d9;
	padding: 3px 3px 3px 7px;
}

.hpb-subh02-cell3 {
	  
	color: #708ebf;
	font-size: 100%;
	font-weight: bold;
	background: #d9d9d9;
	padding: 3px 7px 3px 3px;
}

.hpb-subh02-cell4 {
	  
	font-size: 100%;
	font-weight: bold;
	padding: 3px 3px 3px 7px;
	border-right: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
}

.hpb-subh02-cell5 {
}

.hpb-subh02-cell6 {
}

.hpb-subh03 {
	  
	font-size: 100%;
	color: #13327d;
	text-align: left;
	font-weight: bold;
	vertical-align: middle;
	width: 530px;
	background-color: #ffffff;
	height: 30px;
	padding-left: 45px;
}

.hpb-subh04 {
	  
	font-size: 100.00%;
	color: #ffffff;
	background-image : url(12subh0601.gif);
	background-repeat: no-repeat;
	background-position-y: 0px;
	text-align: left;
	vertical-align: middle;
	padding-left: 40px;
	height: 40px;
}

.hpb-subh05 {
}

/*-------------------- layout base --------------------*/

.hpb-lb-tb1 {
	  
	width: 590px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}

.hpb-lb-tb1-cell1 {
}

.hpb-lb-tb1-cell2 {
	  
	width: 406px;
	border-left: 0px solid #ffffff;
}

.hpb-lb-tb1-cell3 {
	  
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.hpb-lb-tb1-cell4 {
	  
	font-size: 100%;
	font-weight: bold;
	color: #ffffff;
	background-color: #708ebf;
	padding: 13px 14px;
}

.hpb-lb-tb1-cell5 {
}

.hpb-lb-tb1-cell6 {
}

.hpb-lb-tb1-cell7 {
}

.hpb-lb-tb1-cell8 {
}

.hpb-lb-tb2 {
	  
	width: 453px;
	background: #ffffff;
	border-top: 1px none;
	border-right: 0px solid #ffffff;
	border-bottom: 0px none;
	border-left: 0px solid #ffffff;
}

.hpb-lb-tb2-cell3 {
	  
	padding-left: 27px;
	padding-right: 2px;
	font-size: 100%;
}

.hpb-lb-tb2-cell4 {
	  
	font-size: 100%;
	font-weight: bold;
	color: #ffffff;
	background-color: #708ebf;
	padding: 13px 14px;
}

.hpb-lb-tb3 {
	  
	width: 603px;
	background: #ffffff;
	border-top: 1px none;
	border-right: 0px solid #ffffff;
	border-bottom: 0px none;
	border-left: 0px solid #ffffff;
}

.hpb-lb-tb3-cell3 {
	  
	padding-left: 27px;
	padding-right: 2px;
	font-size: 100%;
}

.hpb-lb-tb3-cell4 {
	  
	font-size: 100%;
	font-weight: bold;
	color: #ffffff;
	background-color: #708ebf;
	padding: 13px 14px;
}

.hpb-lb-tb4 {
	  
	margin-top: 10px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 530px;
	background-color: #ffffff;
}

/*-------------------- design parts--------------------*/

.hpb-dp-tb1 {
}

.hpb-dp-tb1-cell1 {
}

.hpb-dp-tb1-cell2 {
	  
	font-size: 100%;
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
}

.hpb-dp-tb1-cell3 {
	  
	font-size: 100%;
	border-bottom: 1px solid #cccccc;
}

.hpb-dp-tb1-cell4 {
	  
	font-size: 100%;
	padding: 14px;
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
}

.hpb-dp-tb1-cell5 {
	  
	font-size: 100%;
	border: 1px dashed #cccccc;
}

.hpb-dp-tb2 {
}

.hpb-dp-tb2-cell1 {
	  
	background: #000099;
	border-right: 1px solid #cccccc;
	font-size: 100%;
	font-weight: bold;
	padding: 10px 7px;
	color: #ffffff;
}

.hpb-dp-tb2-cell2 {
	  
	border-right: 1px solid #cccccc;
	font-size: 100%;
	padding-right: 7px;
	padding-left: 7px;
	padding-top: 7px;
}

.hpb-dp-tb2-cell3 {
	  
	font-size: 100%;
	border-right: 1px solid #cccccc;
	padding: 7px 7px 7px 14px;
}

.hpb-dp-tb2-cell4 {
	  
	border-right: 1px solid #cccccc;
}

.hpb-dp-tb2-cell5 {
}

.hpb-dp-tb3 {
}

.hpb-dp-tb3-cell1 {
	  
	border: 1px solid #cccccc;
}

.hpb-dp-tb3-cell2 {
}

.hpb-dp-tb3-cell3 {
}

.hpb-dp-tb4 {
}

.hpb-dp-tb4-cell1 {
	  
	font-size: 100%;
	padding: 14px;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
}

.hpb-dp-tb4-cell2 {
	  
	font-size: 100%;
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
}

.hpb-dp-tb4-cell3 {
	  
	font-size: 100%;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
}

.hpb-dp-tb4-cell4 {
	  
	font-size: 100%;
	padding: 14px;
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
}

.hpb-dp-tb4-cell5 {
	  
	font-size: 100%;
	padding: 14px;
}

.hpb-dp-tb4-cell6 {
	  
	font-size: 100%;
}

.hpb-dp-tb4-cell7 {
	  
	font-size: 100%;
	padding: 14px;
	border: 1px solid #cccccc;
}

.hpb-dp-tb4-cell8 {
	  
	font-size: 100%;
	padding: 14px;
	border: 1px dashed #cccccc;
}

.hpb-dp-tb4-cell9 {
	  
	font-size: 100%;
	padding-top: 14px;
	padding-right: 14px;
	padding-bottom: 14px;
}

.hpb-dp-tb4-cell10 {
	  
	font-size: 100%;
	padding: 14px;
	border-bottom: 1px solid #cccccc;
}

.hpb-dp-tb4-cell11 {
	  
	font-size: 100%;
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
}

.hpb-dp-tb4-cell12 {
	  
	font-size: 100%;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
}

.hpb-dp-tb4-cell13 {
	  
	font-size: 100%;
	padding: 14px;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}

.hpb-dp-tb4-cell14 {
	  
	font-size: 100%;
	padding: 14px;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
}

.hpb-dp-tb5 {
}

.hpb-dp-tb5-cell1 {
	  
	font-size: 100%;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	padding-right: 7px;
	padding-bottom: 7px;
	padding-left: 7px;
}

.hpb-dp-tb5-cell2 {
	  
	font-size: 100%;
}

.hpb-dp-tb5-cell3 {
}

.hpb-dp-tb5-cell4 {
}

.hpb-dp-tb5-cell5 {
	  
	font-size: 100%;
	padding: 14px;
	background: #d9d9d9;
}

.hpb-dp-tb5-cell6 {
	  
	font-size: 100%;
	border-left: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	padding-right: 7px;
	padding-top: 7px;
	padding-left: 7px;
}

.hpb-dp-tb6 {
}

.hpb-dp-tb7 {
	  
	font-size: 100%;
	text-align: left;
	vertical-align: top;
	padding: 5px;
}

.hpb-dp-tb8 {
}

.hpb-dp-tb9 {
	  
	background-color: #ffffff;
	width: 530px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}

/*-------------------- calendar --------------------*/

.hpb-ca-tb1 {
}

.hpb-ca-tb1-cell1 {
	  
	background: #000099;
	color: #ffffff;
	font-size: 100%;
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}

.hpb-ca-tb1-cell2 {
	  
	font-size: 100%;
	background: #000099;
	font-weight: bold;
	color: #ffffff;
	border-right: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}

.hpb-ca-tb1-cell3 {
	  
	font-size: 100%;
	background: #000099;
	font-weight: bold;
	color: #ffffff;
	border-right: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}

.hpb-ca-tb1-cell4 {
	  
	font-size: 100%;
	background: #f0f0f0;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
}

.hpb-ca-tb1-cell5 {
	  
	font-size: 100%;
	background: #ffffff;
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	height: 85px;
}

.hpb-ca-tb1-cell6 {
	  
	font-size: 100%;
	background: #ffffff;
	border-bottom: 1px solid #cccccc;
	height: 85px;
	border-right: 1px solid #cccccc;
}

.hpb-ca-tb1-cell7 {
}

.hpb-ca-tb1-cell8 {
}

.hpb-ca-tb1-cell9 {
}

.hpb-ca-tb1-cell10 {
}

.hpb-ca-tb1-cell11 {
}

.hpb-ca-tb1-cell12 {
}

.hpb-ca-tb1-cell13 {
}

.hpb-ca-tb1-cell14 {
}

.hpb-ca-tb1-cell15 {
}

.hpb-ca-tb1-cell16 {
}

.hpb-ca-tb1-cell17 {
}

.hpb-ca-tb1-cell18 {
}

.hpb-ca-tb1-cell19 {
}

.hpb-ca-tb1-cell20 {
}

.hpb-ca-tb1-cell21 {
}

.hpb-ca-tb1-cell22 {
}

.hpb-ca-tb2 {
}

.hpb-ca-tb2-cell1 {
	  
	font-size: 100%;
	font-weight: bold;
	color: #dd6666;
}

.hpb-ca-tb2-cell2 {
	  
	font-size: 100%;
	font-weight: bold;
	color: #868686;
}

.hpb-ca-tb2-cell3 {
	  
	font-size: 100%;
	font-weight: bold;
	color: #8080f3;
}

.hpb-ca-tb2-cell4 {
}

.hpb-ca-tb2-cell5 {
}

.hpb-ca-tb2-cell6 {
}

.hpb-ca-tb2-cell7 {
}

.hpb-ca-tb2-cell8 {
}

.hpb-ca-tb2-cell9 {
}

.hpb-ca-tb3 {
}

.hpb-ca-tb3-cell1 {
}

.hpb-ca-tb3-cell2 {
}

.hpb-ca-tb3-cell3 {
}

/*-------------------- schedule --------------------*/

.hpb-sc-tb1 {
}

.hpb-sc-tb1-cell1 {
	  
	background: #000099;
	color: #ffffff;
	font-size: 100%;
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}

.hpb-sc-tb1-cell2 {
	  
	font-size: 100%;
	background: #000099;
	font-weight: bold;
	color: #ffffff;
	border-top: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}

.hpb-sc-tb1-cell3 {
	  
	font-size: 100%;
	background: #000099;
	font-weight: bold;
	color: #ffffff;
	border-top: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}

.hpb-sc-tb1-cell4 {
	  
	font-size: 100%;
	border-bottom: 1px solid #cccccc;
	font-weight: bold;
}

.hpb-sc-tb1-cell5 {
	  
	font-size: 100%;
	border-bottom: 1px solid #cccccc;
	height: 30px;
	font-weight: bold;
	color: #868686;
}

.hpb-sc-tb1-cell6 {
	  
	font-size: 100%;
	border-bottom: 1px solid #cccccc;
	height: 30px;
	font-weight: bold;
	color: #dd6666;
}

.hpb-sc-tb1-cell7 {
	  
	font-size: 100%;
	border-bottom: 1px solid #cccccc;
	height: 30px;
}

.hpb-sc-tb1-cell8 {
}

.hpb-sc-tb1-cell9 {
}

.hpb-sc-tb1-cell10 {
}

/*-------------------- links --------------------*/

.hpb-li-tb1 {
}

.hpb-li-tb1-cell1 {
	  
	font-size: 100%;
	padding-top: 7px;
	padding-bottom: 7px;
	border-bottom: 1px solid #cccccc;
}

.hpb-li-tb1-cell2 {
	  
	font-size: 100%;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 3px;
	border-bottom: 1px solid #cccccc;
}

.hpb-li-tb1-cell3 {
}

/*-------------------- vertical menu --------------------*/

.hpb-vmenu1 {
	  
	background-color: #C0E1F7;
}

.hpb-vmenu1-head {
}

.hpb-vmenu1-foot {
}

.hpb-vmenu1-hil {
	  
	padding: 4px 10px 4px 10px;
	font-weight: bold;
}

.hpb-vmenu1-plain {
	  
	padding: 4px 10px 4px 10px;
	font-weight: bold;
}

.hpb-vmenu1-idle1 {
	  
	padding: 4px 10px 4px 10px;
	color: #666666;
}

.hpb-vmenu1-idle2 {
	  
	padding: 4px 10px 4px 10px;
	color: #666666;
	background-image : url(c.gif);
	background-repeat: no-repeat;
	background-position: left center;
}

.hpb-vmenu1-link0:link {
	  
	text-decoration: none;
}

.hpb-vmenu1-link0:visited {
	  
	text-decoration: none;
}

.hpb-vmenu1-link0:hover {
	  
	color: #666666;
	text-decoration: underline;
}

.hpb-vmenu1-link1:link {
	  
	text-decoration: none;
}

.hpb-vmenu1-link1:visited {
	  
	text-decoration: none;
}

.hpb-vmenu1-link1:hover {
	  
	text-decoration: underline;
}

.hpb-vmenu1-link2:link {
	  
	text-decoration: none;
}

.hpb-vmenu1-link2:visited {
	  
	color: #cccccc;
	text-decoration: none;
}

.hpb-vmenu1-link2:hover {
	  
	text-decoration: underline;
}

/*-------------------- horizontal menu --------------------*/

.hpb-hmenu1 {
	  
	background-color: #C0E1F7;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 100.000%;
}

.hpb-hmenu1-hil {
	  
	font-weight: bold;
	padding-right: 13px;
	padding-left: 13px;
}

.hpb-hmenu1-plain {
	  
	padding-right: 13px;
	padding-left: 13px;
}

.hpb-hmenu1-idle1 {
	  
	padding-right: 13px;
	padding-left: 13px;
}

.hpb-hmenu1-idle2 {
	  
	padding-right: 13px;
	padding-left: 13px;
	background-image : url(c.gif);
	background-repeat: no-repeat;
	background-position: left center;
}

.hpb-hmenu1-link0:link {
	  
	text-decoration: none;
}

.hpb-hmenu1-link0:visited {
	  
	text-decoration: none;
}

.hpb-hmenu1-link0:hover {
	  
	text-decoration: underline;
}

.hpb-hmenu1-link1:link {
	  
	text-decoration: none;
}

.hpb-hmenu1-link1:visited {
	  
	text-decoration: none;
}

.hpb-hmenu1-link1:hover {
	  
	color: #666666;
	text-decoration: underline;
}

.hpb-hmenu1-link2:link {
	  
	text-decoration: none;
}

.hpb-hmenu1-link2:visited {
	  
	text-decoration: none;
}

.hpb-hmenu1-link2:hover {
	  
	text-decoration: underline;
}

.hpb-hmenu2 {
}

.hpb-hmenu2-hil {
	  
	color: #000099;
	font-weight: bold;
	padding-right: 10px;
	padding-left: 10px;
}

.hpb-hmenu2-plain {
	  
	padding-right: 10px;
	padding-left: 10px;
}

.hpb-hmenu2-idle1 {
	  
	padding-right: 10px;
	padding-left: 10px;
}

.hpb-hmenu2-idle2 {
	  
	background-image : url(c.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-right: 10px;
	padding-left: 10px;
}

.hpb-hmenu2-link0:link {
	  
	color: #000099;
	text-decoration: none;
}

.hpb-hmenu2-link0:visited {
	  
	color: #000099;
	text-decoration: none;
}

.hpb-hmenu2-link0:hover {
	  
	color: #000099;
	text-decoration: underline;
}

.hpb-hmenu2-link1:link {
	  
	color: #000099;
	text-decoration: none;
}

.hpb-hmenu2-link1:visited {
	  
	color: #999999;
	text-decoration: none;
}

.hpb-hmenu2-link1:hover {
	  
	color: #000099;
	text-decoration: underline;
}

.hpb-hmenu2-link2:link {
	  
	color: #000099;
	text-decoration: none;
}

.hpb-hmenu2-link2:visited {
	  
	color: #999999;
	text-decoration: none;
}

.hpb-hmenu2-link2:hover {
	  
	color: #000099;
	text-decoration: underline;
}

/*-------------------- content menu --------------------*/

.hpb-vmenuc1 {
}

.hpb-vmenuc1-hil {
}

.hpb-vmenuc1-plain {
	  
	padding-top: 3px;
	padding-bottom: 3px;
}

.hpb-vmenuc1-idle1 {
	  
	padding-top: 3px;
	padding-bottom: 3px;
}

.hpb-vmenuc1-idle2 {
	  
	padding-left: 12px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.hpb-vmenuc1-link0:link {
}

.hpb-vmenuc1-link0:visited {
}

.hpb-vmenuc1-link0:hover {
}

.hpb-vmenuc1-link1:link {
}

.hpb-vmenuc1-link1:visited {
}

.hpb-vmenuc1-link1:hover {
}

.hpb-vmenuc1-link2:link {
}

.hpb-vmenuc1-link2:visited {
}

.hpb-vmenuc1-link2:hover {
}

.hpb-hmenuc1 {
}

.hpb-hmenuc1-hil {
}

.hpb-hmenuc1-plain {
	  
	padding-right: 8px;
	padding-left: 8px;
}

.hpb-hmenuc1-idle1 {
	  
	padding-right: 8px;
	padding-left: 8px;
}

.hpb-hmenuc1-idle2 {
	  
	padding-right: 8px;
	padding-left: 8px;
}

.hpb-hmenuc1-link0:link {
}

.hpb-hmenuc1-link0:visited {
}

.hpb-hmenuc1-link0:hover {
}

.hpb-hmenuc1-link1:link {
}

.hpb-hmenuc1-link1:visited {
}

.hpb-hmenuc1-link1:hover {
}

.hpb-hmenuc1-link2:link {
}

.hpb-hmenuc1-link2:visited {
}

.hpb-hmenuc1-link2:hover {
}

/*-------------------- element type --------------------*/

a:link {
	  
	text-decoration: none;
}

a:visited {
	  
	color: #0070b1;
	text-decoration: none;
}

a:hover {
	  
	color: #044299;
	text-decoration: underline;
}

body {
	  
	background-color: #13327d;
	text-align: center;
	margin: 0px;
}

h1 {
	  
	color: #708ebf;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-size: 140%;
	font-weight: bold;
}

h2 {
	  
	color: #708ebf;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-size: 135%;
	font-weight: bold;
}

h3 {
	  
	color: #708ebf;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-size: 125%;
	font-weight: bold;
}

h4 {
	  
	color: #708ebf;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-size: 119%;
	font-weight: bold;
}

h5 {
	  
	color: #708ebf;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-size: 110%;
	font-weight: bold;
}

h6 {
	  
	color: #708ebf;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-size: 100%;
	font-weight: bold;
}

address {
	  
	color: #3333aa;
	margin-top: 8px;
	margin-right: 0px;
	margin-bottom: 8px;
	margin-left: 0px;
}

blockquote {
	  
	color: #3333aa;
	margin-top: 8px;
	margin-right: 15px;
	margin-bottom: 8px;
	margin-left: 15px;
}

p {
	  
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-weight: normal;
}

pre {
	  
	color: #3333aa;
	margin-top: 8px;
	margin-right: 0px;
	margin-bottom: 8px;
	margin-left: 0px;
}

ul {
	  
	color: #6d6d6d;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 16px;
	list-style-image : url(03bul15.gif);
	list-style-position: outside;
	list-style-type: none;
}

th {
	  
	color: #ffffff;
	background-color: #000099;
	border-color: #ffffff #ffffff #ffffff #ffffff;
	border-style: solid solid solid solid;
	border-width: 0px 1px 1px 0px;
	font-size: 100.000%;
}

select {
	  
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-weight: normal;
}

.hpb-head,.hpb-main {
	  
	margin-right: auto;
	margin-left: auto;
	text-align: left;
}

body,body * {
	  
	line-height: 150%;
}