
/* link out logos */
#utoronto_link { background-image: url("../img/layout/logos/utoronto.png"); height: 38px; margin: 10px 0 11px 0; width: 97px; }
#ccbr_link { background-image: url("../img/layout/logos/ccbr.png"); height: 41px; margin: 9px 0 9px 0; width: 143px; }
#cytoscape_link { background-image: url("../img/layout/logos/cytoscape.png"); height: 34px; margin: 10px 0 15px 0; width: 87px; }

/* cytoweb logo */
#logo { height: 31px; width: 185px; margin: 27px 0 27px 0; background-image: url("../img/layout/cytoscape_web_logo.png"); }
