species=Saccharomyces cerevisiae
#set this to false to disable the undo features
enableUndo=true

# pick calculators from the vizmap.props file
visualStyle=default

#--------------------------------------------------------------------
# plugins. 
# Conditional Load:  for each plugin, specify
#
#   1. the full name of the class to be loaded.
#   2. the file extension which tells cytoscape to load the plugin
#   3. the attribute name which, if present in node or edge attributes,
#      tells cytoscape to load the plugin
#--------------------------------------------------------------------
plugin.bar.className=csplugins.demo.Bar
plugin.bar.fileExtension=bar
plugin.bar.attributeName=bar

#--------------------------------------------------------------------
# Unconditional Load: 
#
#plugin.foo.load=csplugins.foo.FooClass

