<?php
	error_reporting(E_ALL ^ E_NOTICE); 
    header('Content-type: application/x-java-jnlp-file');
    header('Content-Disposition: attachment; filename="cytoscape.jnlp"');
    header("Expires: Mon, 26 Jul 1997 05:00:00 GMT"); // Date in the past
    header("Last-Modified: " . gmdate("D, d M Y H:i:s") . " GMT");
    header("Cache-Control: no-store, no-cache, must-revalidate");
    header("Cache-control: post-check=0, pre-check=0, false");
    header("Pragma: no-cache");
    header("Content-Type: application/x-java-jnlp-file");
    $MAXHEAP=htmlspecialchars($_GET['maxHeapSize']);
    $NETWORK=htmlspecialchars($_GET['network']);
    $SESSION=htmlspecialchars($_GET['session']);
    $GSENV=htmlspecialchars($_GET['gsenv']);
    $NODETABLE=htmlspecialchars($_GET['nodeTable']);
    $EDGETABLE=htmlspecialchars($_GET['edgeTable']);
	print('<?xml version="1.0" encoding="utf-8"?>');
?>
<jnlp codebase="$project.Url">
  <information>
    <title>Cytoscape</title>
    <vendor>Cytoscape Consortium</vendor>
    <homepage href="http://cytoscape.org"/>
    <offline-allowed/>
    <shortcut>
      <desktop/>
      <menu submenu="Cytoscape"/>
    </shortcut>
  </information>
  <security>
     <all-permissions/>
  </security>
  <update check="always" policy="always"/>
  <resources>
    <j2se version="$j2seVersion" 
	      java-vm-args="-Dsun.lang.ClassLoader.allowArraySyntax=true"
<?php 
   if($MAXHEAP == null || $MAXHEAP == "") {
     $MAXHEAP="1024M";
   } 
   print('		max-heap-size="');
   print($MAXHEAP);
   print('"/>');
?>
     $dependencies
  </resources>
  <application-desc main-class="$mainClass">
<?php
	# either load a session
    if($SESSION != null && $SESSION != "") {
        print("	<argument>-P</argument>\n");
        print("	<argument>gs.session=$SESSION</argument>\n");
	
	# or load network and/or attributes
    } else {
		if ($NETWORK != null && $NETWORK != "") {
        	print("	<argument>-P</argument>\n");
        	print("	<argument>gs.network=$NETWORK</argument>\n");
		}
		if ($NODETABLE != null && $NODETABLE != "") {
        	print("	<argument>-P</argument>\n");
        	print("	<argument>node.cytable=$NODETABLE</argument>\n");
		}
		if ($EDGETABLE != null && $EDGETABLE != "") {
        	print("	<argument>-P</argument>\n");
        	print("	<argument>edge.cytable=$EDGETABLE</argument>\n");
		}
    }

	# set the genomespace environment
	if ($GSENV != null && $GSENV != "") {
       	print("	<argument>-P</argument>\n");
       	print("	<argument>genomespace.environment=$GSENV</argument>\n");
	}
?>
    <argument>-p</argument>
    <argument>csplugins.network.merge.NetworkMergePlugin</argument>
    <argument>-p</argument>
    <argument>csplugins.layout.LayoutPlugin</argument>
    <argument>-p</argument>
    <argument>edu.ucsd.bioeng.idekerlab.biomartclient.BiomartClientPlugin</argument>
    <argument>-p</argument>
    <argument>cytoscape.coreplugins.biopax.BiopaxPlugin</argument>
    <argument>-p</argument>
    <argument>browser.AttributeBrowserPlugin</argument>
    <argument>-p</argument>
    <argument>org.cytoscape.coreplugin.cpath.plugin.CPathPlugIn</argument>
    <argument>-p</argument>
    <argument>org.cytoscape.coreplugin.cpath2.plugin.CPathPlugIn2</argument>
    <argument>-p</argument>
    <argument>cytoscape.editor.CytoscapeEditorPlugin</argument>
    <argument>-p</argument>
    <argument>org.cytoscape.EquationFunctions.EquationFunctionsPlugin</argument>
    <argument>-p</argument>
    <argument>filter.cytoscape.CsFilter</argument>
    <argument>-p</argument>
    <argument>cytoscape.filters.FilterPlugin</argument>
    <argument>-p</argument>
    <argument>linkout.LinkOutPlugin</argument>
    <argument>-p</argument>
    <argument>ManualLayout.ManualLayoutPlugin</argument>
    <argument>-p</argument>
    <argument>edu.ucsd.bioeng.idekerlab.ncbiclient.NCBIClientPlugin</argument>
    <argument>-p</argument>
    <argument>org.cytoscape.coreplugin.psi_mi.plugin.PsiMiPlugIn</argument>
    <argument>-p</argument>
    <argument>csplugins.quickfind.plugin.QuickFindPlugIn</argument>
    <argument>-p</argument>
    <argument>sbmlreader.SBMLReaderPlugin</argument>
    <argument>-p</argument>
    <argument>edu.ucsd.bioeng.coreplugin.tableImport.TableImportPlugin</argument>
    <argument>-p</argument>
    <argument>yfiles.YFilesLayoutPlugin</argument>
    <argument>-p</argument>
    <argument>cytoscape.ndb.NDBReaderPlugin</argument>
    <argument>-p</argument>
    <argument>cytoscape.cytable.CyTableReaderPlugin</argument>
    <argument>-p</argument>
    <argument>cytoscape.genomespace.libs.GenomeSpaceLibsPlugin</argument>
    <argument>-p</argument>
    <argument>cytoscape.genomespace.GenomeSpacePlugin</argument>
    <argument>-p</argument>
    <argument>csplugins.mcode.MCODEPlugin</argument>
    <argument>-p</argument>
    <argument>BiNGO.BiNGOplugin</argument>
    <argument>-p</argument>
    <argument>csplugins.enhanced.search.EnhancedSearchPlugin</argument>
    <argument>-p</argument>
    <argument>csplugins.jActiveModules.ActiveModulesUI</argument>
    <argument>-p</argument>
    <argument>csplugins.mrsva.shortestpath.ShortestPathPlugin</argument>
    <argument>-p</argument>
    <argument>org.genemania.plugin.GeneManiaPlugin</argument>
    <argument>-p</argument>
    <argument>org.reactome.cytoscape.ReactomeR3CytoscapePlugin</argument>
  </application-desc>
</jnlp>

