<table cellpadding="3" cellspacing="3" width="100%">
<tr>
    <td><h2>Visual Legend</h2></td>
    <td align='RIGHT'><a href="filter">Filter Edges</a></td>
    </tr>
</table>

<table cellpadding="3" cellspacing="3">
<tr bgcolor="#DDDDDD">
    <td VALIGN=CENTER>
        <h3>Edge Type</h3>
    </td>
    <td VALIGN=CENTER>
        <h3>Color</h3>
    </td>
</tr>
<tr>
    <td VALIGN=CENTER>
        <span class="rule">COMPONENT_OF</span>
    </td>
    <td BGCOLOR="#0000FF" VALIGN=CENTER>
        &nbsp;
    </td>
</tr>
<tr>
    <td>
    <span class='description'>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
    Proin cursus, nunc quis malesuada pellentesque, elit velit dictum diam, non pulvinar
    ligula magna ac erat.
    </span>
    </td>
 </tr>
<tr>
    <td VALIGN=CENTER>
        <span class="rule">COMPONENT_IN_SAME</span>
    </td>
    <td BGCOLOR="#00FFFF" VALIGN=CENTER>
        &nbsp;
    </td>
</tr>
<tr>
    <td>
    <span class='description'>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
    Proin cursus, nunc quis malesuada pellentesque, elit velit dictum diam, non pulvinar
    ligula magna ac erat.
    </span>
    </td>
 </tr>

<tr>
    <td VALIGN=CENTER>
        <span class="rule">SEQUENTIAL_CATALYSIS</span>
    </td>
    <td BGCOLOR="#808080" VALIGN=CENTER>
        &nbsp;
    </td>
</tr>
<tr>
    <td>
        <span class='description'>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        Proin cursus, nunc quis malesuada pellentesque, elit velit dictum diam, non pulvinar
        ligula magna ac erat.
        </span>
    </td>
 </tr>

<tr>
    <td VALIGN=CENTER>
        <span class="rule">CONTROLS_STATE_CHANGE</span>
    </td>
    <td BGCOLOR="#8B008B" VALIGN=CENTER>
        &nbsp;
    </td>
</tr>
<tr>
    <td>
        <span class='description'>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        Proin cursus, nunc quis malesuada pellentesque, elit velit dictum diam, non pulvinar
        ligula magna ac erat.
        </span>
    </td>
 </tr>

<tr>
    <td VALIGN=CENTER>
        <span class="rule">CONTROLS_METABOLIC_CHANGE</span>
    </td>
    <td BGCOLOR="#008000" VALIGN=CENTER>
        &nbsp;
    </td>
</tr>
<tr>
    <td>
        <span class='description'>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        Proin cursus, nunc quis malesuada pellentesque, elit velit dictum diam, non pulvinar
        ligula magna ac erat.
        </span>
    </td>
 </tr>

<tr>
    <td VALIGN=CENTER>
        <span class="rule">PARTICIPATES_CONVERSION</span>
    </td>
    <td BGCOLOR="#90EE90" VALIGN=CENTER>
        &nbsp;
    </td>
</tr>
<tr>
    <td>
        <span class='description'>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        Proin cursus, nunc quis malesuada pellentesque, elit velit dictum diam, non pulvinar
        ligula magna ac erat.
        </span>
    </td>
 </tr>

<tr>
    <td VALIGN=CENTER>
        <span class="rule">PARTICIPATES_INTERACTION</span>
    </td>
    <td BGCOLOR="#FF00FF" VALIGN=CENTER>
        &nbsp;
    </td>
</tr>
<tr>
    <td>
        <span class='description'>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        Proin cursus, nunc quis malesuada pellentesque, elit velit dictum diam, non pulvinar
        ligula magna ac erat.
        </span>
    </td>
 </tr>

<tr>
    <td VALIGN=CENTER>
        <span class="rule">CO_CONTROL_INDEPENDENT_SIMILAR</span>
    </td>
    <td BGCOLOR="#FFA500" VALIGN=CENTER>
        &nbsp;
    </td>
</tr>
<tr>
    <td>
        <span class='description'>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        Proin cursus, nunc quis malesuada pellentesque, elit velit dictum diam, non pulvinar
        ligula magna ac erat.
        </span>
    </td>
 </tr>

<tr>
    <td VALIGN=CENTER>
        <span class="rule">CO_CONTROL_INDEPENDENT_ANTI</span>
    </td>
    <td BGCOLOR="#FFC0CB" VALIGN=CENTER>
        &nbsp;
    </td>
</tr>
<tr>
    <td>
        <span class='description'>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        Proin cursus, nunc quis malesuada pellentesque, elit velit dictum diam, non pulvinar
        ligula magna ac erat.
        </span>
    </td>
 </tr>

<tr>
    <td VALIGN=CENTER>
        <span class="rule">CO_CONTROL_DEPENDENT_SIMILAR</span>
    </td>
    <td BGCOLOR="#FF0000" VALIGN=CENTER>
        &nbsp;
    </td>
</tr>
<tr>
    <td>
        <span class='description'>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        Proin cursus, nunc quis malesuada pellentesque, elit velit dictum diam, non pulvinar
        ligula magna ac erat.
        </span>
    </td>
 </tr>

<tr>
    <td VALIGN=CENTER>
        <span class="rule">CONTROL_DEPENDENT_ANTI</span>
    </td>
    <td BGCOLOR="#FFFF00" VALIGN=CENTER>
        &nbsp;
    </td>
</tr>
<tr>
    <td>
        <span class='description'>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        Proin cursus, nunc quis malesuada pellentesque, elit velit dictum diam, non pulvinar
        ligula magna ac erat.
        </span>
    </td>
 </tr>

</table>