/********************************

 Core CSS file for Cytoscape.org
 
 Customized by Keiichiro Ono
 kono at ucsd dot edu

*********************************/

body, th, td, div, p, h1, h2, li, dt, dd {
	font-family: Tahoma, "Gill Sans", Arial, sans-serif;
}
body {
	margin: 0px;
	color: #333333;
	background-color: #ffffff;
	min-width:800px;
	max-width:1920px;
}


#indent {
	padding-left: 5px;
}
/* front page stuff */

#feature {
	height: 230px;
	width: 100%;
	color: #ffffff;
	background-color: #FFFFFF;
	background: url(../images/title.png);
  background-repeat: x-repeat;
	background-position: top left;
	border: none;
	/* this bottom border is necessary to work around an opera 6 bug */
 /*border-bottom: 1px solid #2a5a8a;*/
}

#topbar {
	height: 60px;
	width: 100%;
	color: #ffffff;
	background-color: #FFFFFF;
	background: url(../images/title.png);
	background-repeat: x-repeat;
	background-position: top left;
	border: none;
}
#topbar .title {
	font-size: 24px;
	margine:5px;
	padding-top:15px;
	padding-left:10px;
	font-family: Arial;
}

#feature, #feature p {
	color: #ffffff;
	font-size: 12px;
}
#feature p {
	padding-bottom: 0px;
	margin-bottom: 0px;
}
#feature h1 {
	position:absolute;
	top:0px;
	font-size: 36px;
	mrgine:5px;
	padding:0px;
	font-family: Arial;
}

#feature .title {
	font-size: 36px;
	mrgine:5px;
	padding-left:10px;
	font-family: Arial;
}

#feature img {
	position:absolute;
	top:70px;
	left: 20px;
	mrgine:5px;
	padding:0px;
	font-family: Arial;
}


#feature a {
	text-decoration: none;
	font-weight: bold;
	color: #ffffff;
}
#feature a:hover {
	text-decoration: underline;
}
#feature .about {
	width: 200px;
	padding:0px;
}
#feature .about2 {
	position:absolute;
	left:200px;
	top:120px;
	padding-bottom: 15px;
	font-size:12px;
	width: 250px;
}
#feature .about2 i {
	color:red;
}
#feature .about p {
	margin: 4px 0px;
}
#feature .article {

	position:absolute;
	top:0px;
	right:10px;
	max-width: 500px;
}

.topimage1 {
	margin-top: 15px;
	margin-bottom: 15px;
}
.introduction1 {  
	margin: 10px;
}

.introduction1 img {
	margin: 10px;
	float: right;
		 
}

.introduction1 p {
  margin: 0;
  padding: 24px;
  line-height: 1.5;
  color: #000000;
  background: #ffffff;

}

.introduction1 h2 {
	
	font-size: 24px;
	mrgine:5px;
	padding:10px;
	padding-bottom:5px;
	font-family: Arial;
	
	border-left: 8px double;
	border-bottom: 1px double;
	border-color: #33aaff;
}


.introduction {
	margin: 10px;
}
.introduction img {
	margin-right: 10px;
	margin-left:15px;
	
	float: left;	 
}

.introduction hr {
  	color: #494933;
  	background-color: #494933;
  	height: 1.5px;
	
margin: 10px;
}

.introduction h2 {
	font-size: 24px;
	mrgine:5px;
	padding:10px;
	padding-bottom:5px;
	font-family: Arial;
	
	border-left: 8px double;
	border-bottom: 1px double;
	border-color: #33aaff;
}

.introduction h3 {
	font-size: 18px;
	padding: 8px;
	margin: 10px;
	font-family: Arial;
	border: 1px double;
	border-left: 8px double;
	border-color: #aaaaff;
}

.introduction h4 {
	font-size: 16px;
	margin:10px;
	padding:5px;
	font-family: Arial;
}

.introduction p {
	font-size: 13px;
  	margin-left:15px;
  	margin-right:15px;
	padding-left:5px;
	line-height: 1.5;
	color: #000000;
	min-height: 260px;
}

.introduction ul {
	float: right;
}

#block1 {
	padding: 5px;
	margin: 10px;
	background: #efefff;
	border: none;
}

#code {
	height: 350px;
	width: 100%;
	color: #333399;
	font-family: Courier;
	font-size: 14px;
	font-weight: bold;
}
#links {
	width: 100%;
	color: #000000;
	border: none;
	border-bottom: 1px solid #999999;
}
/*/*/a {
}
#links {
	padding: 0px;
	border-spacing: 0px;
}
/* */
#links td {
	font-size: 12px;
}
#links td p, #products td li {
	margin-top: 0px;
	margin-bottom: 4px;
}
#links td h1 {
	font-size: 14px;
	margin: 0px;
	padding: 0px;
}
#links td {
	vertical-align: top;
	border-left: 1px dotted #000000;
	padding-left: 10px;
}
#links #first {
	padding-left: 15px;
	border-left: none;
	padding-bottom:45px;
	padding-top:45px;
}
#links #caption {
	color: #000000;
	background: #FFFFFF url(../images/menubg.png);
	padding-left: 15px;
	text-align: center;
	vertical-align:middle;
	border: none;
	height:32px;

}
#links h1 a {
	text-decoration: none;
}
#links h1 a:hover {
	color: #ffffff;
	text-decoration: none;
}
#links a {
	color: #000000;
}
#links a:hover {
	color: #2299ee;
	text-decoration: underline;
}
#links ul {
	list-style-type: none;
	list-style-image: none;
	margin-top: 0px;
	margin-left: 0px;
	padding-left: 8px;
}
#links2 {
	width: 100%;
	color: #878087;
	background-color: #ECECEC;
	border: none;
	border-bottom: 1px solid #999999;
}
/*/*/a {
}
#links2 {
	border-spacing: 0px;
	padding-bottom:5px;
	padding-top:5px;
}
/* */
#links2 td {
	font-size: 12px;
}
#links2 td p, #products td li {
	margin-top: 0px;
	margin-bottom: 4px;
}
#links2 td h1 {
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	color:#000000;
}
#links2 td {
	vertical-align: top;
	border-left: 1px dotted #000000;
	padding-left: 10px;
}
#links2 #first {
	padding-left: 15px;
	border-left: none;
}
#links2 h1 a {
	text-decoration: none;
	color:#000000;
}
#links2 h1 a:hover {
	color: #2971A7;
	text-decoration: none;
}
#links2 a {
	color: #878087;
}
#links2 a:hover {
	color: #2971A7;
	text-decoration: underline;
}
#links2 ul {
	list-style-type: none;
	list-style-image: none;
	margin-top: 0px;
	margin-left: 0px;
	padding-left: 8px;
}
#content {
	float:left;
	width:65%;
}
.item {
	width:98%;
	float:left;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5px;
	font-size: 12px;
	padding-bottom: 10px;
	background-repeat: repeat-y;
	border: 1px solid #878087;
}

.item li {
	margin-left:20px;
}

.item a {
	color:#2971A7;
}

.item h2 {
	margin: 0px;
	margin-left: 0px;
	font-size: 16px;
	padding: 5px;
	background-color:#989DA5;
	color:#FFFFFF;
}
.item h2 a:link {
	color: #2971A7;
	text-decoration: none;
}
.item h2 a:visited {
	color: #333333;
	text-decoration: none;
}
.item h2 a:hover {
	color: #2971A7c;
	text-decoration: underline;
}
.item .paragraph {
	max-width:550px:
	float:left;
	font-size: 12px;
	margin: 10px;
 #margin-bottom: 0px;
}

.item img {
	float:right;
	margin:10px;
	margin-bottom:0px;
}
.item .details {
	font-size: smaller;
	margin-top: 4px;
}
#prefooter {
	font-size: smaller;
	clear: both;
	border: none;
	background: #ffffff;
	margin-top: 10px;
	padding-left: 30px;
	padding-top: 1px;
	padding-bottom: 10px;
	border-top: 2px solid #335599;
	border-bottom: 2px solid #335599;
}
#footer {
float:none;
	font-size: smaller;
	clear: both;
	border: none;
	
	color: #878087;
	background-color: #ECECEC;

	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#footer a:link {
	color: #444444;
}
#footer a:active, .footer a:hover {
	color: #005599;
}
#footer a:visited {
	color: #777777;
}
#rightbox {
	float:right;
	width:35%;
	margin-top:10px;
	margin-bottom:0px;
}

a {
	color:#2971A7;
}


#rightbox .roundbox {
	font-family: trebuchet MS, trebuchet, verdana, arial, sans-serif;
	font-size: 11px;
	padding: 5px;
	margin-right:5px;
	margin-bottom:0px;
	-moz-border-radius: 10px;
	border-radius: 10px;

}
#rightbox .roundbox h2 {
	font-size:14px;
	padding:0px;
}

#rightbox .roundbox h3 {
	text-transform: uppercase;
	margin: 2px;
}
#rightbox .roundbox ul {
	padding: 0px;
	margin: 0.5em;
	padding-left: 0.5em;
	list-style: none;
}
#rightbox .roundbox li:before {
	content: "\00BB \0020";
}
.blue {
	background-color: #ECECEC;
	border: 1px solid #CCE6FF;
}
.roundbox a {
	text-decoration: none;
}
.blue_outline {
	background-color: #FFFFFF;
	border: 1px solid #CCE6FF;
}
.peach {
	background-color: #FFFFFF;
	border: 1px solid #878087;
}
.peach a:link {
	color: #2971A7;
}
.peach a:visited {
	color: #AD9357;
}
.lavendar {
	background-color: #F2BAF9;
	border: 1px solid #D3A3D9;
}
.slate {
	background-color: #D8D8EC;
	border: 1px solid #B5B5D8;
}
.slate a:link {
	color: #5B5BB2;
}
.slate a:visited {
	color: #5E5E77;
}
.codebox {
	color: #333399;
	font-family: Courier;
	font-size: 14px;
	font-weight: bold;
	padding: 5px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.codebox h3 {
	color: #333399;
}
.codebox ul {
	padding: 0px;
	margin: 0.5em;
	padding-left: 0.5em;
	list-style: none;
}
.codebox li:before {
	content: "\00BB \0020";
}
.lightyellow {
	background-color: #FDFDCA;
	border: 1px solid #007100;
}

#screenshots {
	width:100%;
	float:left;
	border: 1px solid #878087;
}

#screenshots .item {
	width:98%;
	float:left;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5px;
	font-size: 12px;
	padding-bottom: 10px;
	background-repeat: repeat-y;
	border: 1px solid #878087;
}

#screenshots .paragraph {
	font-size:14px;
}
