<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sif</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>sif.icns</string>
			<key>CFBundleTypeName</key>
			<string>Simple Interactions File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gml</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>gml.icns</string>
			<key>CFBundleTypeName</key>
			<string>Graph Markup Language</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>JavaApplicationStub</string>
	<key>CFBundleIconFile</key>
	<string>cytoscape.icns</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Cytoscape</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.0</string>
	<key>Java</key>
	<dict>
		<key>MainClass</key>
		<string>cytoscape.CyMain</string>
		<key>JVMVersion</key>
		<string>1.4+</string>
                <key>Arguments</key>
		<string>--JLD  $JAVAROOT/plugins</string>
		<key>ClassPath</key>
			<JAR_ARRAY>
			</JAR_ARRAY>
		<key>Properties</key>
		<dict>
			<key>apple.awt.brushMetalLook</key>
			<string>false</string>
			<key>apple.awt.showGrowBox</key>
			<string>true</string>
			<key>apple.laf.useScreenMenuBar</key>
			<string>true</string>
		</dict>
		<key>VMOptions</key>
		<array>
			<string>-Xms19M</string>
			<string>-Xmx400M</string>
		</array>
	</dict>
</dict>
</plist>
