
div.block_menu_l {

    float: left;
    width: 190px;
    height: 600px;
    background-color: #ccffff;
    margin-right: 10px;

}

div.block_main {

}

div.block_figure_r {

    float: right;
    width: 292px;

}

div.block_clear {

    clear: both;

}

