<!-- Example xml file describing plugins and where to d/l them -->
<project>
	<!-- global info regarding the project these plugins come from -->
	<name> Cytoscape Plugins </name>
	<description> Test </description>
	<url> http://cytoscape.org/plugin-inquiry-url </url>

	<pluginlist>				

		<plugin>
			<uniqueID> A string that will not change from one version to another</uniqueID>
			<name> foobar </name>
			<description> blah </description>
			<pluginVersion> 1.0 </pluginVersion>
			<cytoscapeVersion> 2.5 </cytoscapeVersion>
			<filetype> jar </filetype>
			<category> Enrichment </category>
			<url> http://url/to/download/jar-or-zip-file.xxx </url>
			<authorlist>
				<author>
					<name> </name>
					<institution> </institution>
				</author>
			</authorlist>
		</plugin>

	</pluginlist>

</project>
