/* overall style */
body.demo { left: 0; width: 100%; margin: 0; }
#header-resizer { height: 0; width: 0; }
body.demo #logo { margin-left: 1em; margin-right: 1em; }
body.demo #header .text { margin-top: 2.5em; color: #707070; }
body.demo #page, body.demo #copyright, body.demo #navigation_links, body.demo #search, body.demo #content, body.demo #footer { display: none; }
#cytoweb, #side { border: 1px #cfcfcf solid; -moz-box-shadow: 0 0 50px #bbbbbb; -webkit-box-shadow: 0 0 50px #bbbbbb; box-shadow: 0 0 50px #bbbbbb; }
#cytoweb { background: #ffffff; }
#side, #cytoweb { border-radius: 0 !important; -moz-border-radius: 0 !important; -webkit-border-radius: 0 !important; }
#cytoweb ul {  margin-left: 0;  } 
#menu { z-index: 9999 !important; height: auto !important; border: 0 !important; background: transparent !important; }
#cytoweb_container { background: transparent; position: absolute; top: 0; left: 0; z-index: 0; height: 100%; width: 100%; }
#menu > ul { border: 1px solid #707070; }
#examples {  }
#info table { /* width: 100%; */ }
.hidden { z-index: -1; visibility: hidden; }
body.demo h1 { border-bottom: 1px solid #cfcfcf; clear: both; }
body.demo * + h1, body.demo  * + h2, #vizmapper  * + h3 { padding-top: 1.5em; }
body.demo h1 + h2, body.demo h2 + h3 { padding-top: 0.5em; }
.ui-layout-header .header { padding: 1em 1.4em; border-bottom: 1px solid #808080; }
.ui-layout-header { min-height: 0.5em; }

/* menu styling */
       
    /* basic styling */
    .ui-menu-title { margin: 0 !important; background: transparent !important; border: 0 !important; }
    .ui-menu-title.ui-state-active > label { background-color: #0b94b1 !important; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
    .ui-menu-item { margin: 0 !important; float: left; background: #fafafa; z-index: 9999; }
    .ui-menu-title label { color: #ffffff; }
    .ui-menu-item label, .ui-menu-title label { float: left; }
    .ui-menu-title > label { padding: 0.25em 0.5em 0.25em 0.5em; }
    .ui-menu-item > label { padding: 0.1em; }
    .ui-menu-item label { color: #000000; z-index: 2; }
    .ui-menu-item { cursor: pointer !important; width: 100%; float: left; clear: both; border-top: 1px solid #eaeaea !important; border-bottom: 1px solid transparent !important; }
    .ui-top-menu > .ui-menu-item-first { border-top-right-radius: 0; border-top-left-radius: 0; -moz-border-radius-topleft: 0; -moz-border-radius-topright: 0; -webkit-border-top-right-radius: 0; -webkit-border-top-left-radius: 0; }
    .ui-menu-item-last {  }
    .ui-state-active.ui-menu-item { background: #0b94b1 !important; border-color: #0b94b1 !important; border-left-color: #097d95 !important; }
    .ui-state-active.ui-menu-item > label { color: #ffffff; }
    .ui-state-active.ui-menu-item-first { }
    .ui-state-active.ui-menu-item-last {  }
    .ui-tabs-nav.ui-menu-bar  {text-align: left;}
    .ui-menu-item label { padding-left: 2em; padding-right: 2em; }
    .ui-tabs-nav .ui-state-default.ui-menu-title {  }
    .ui-menu-item, .ui-menu-title label { cursor: pointer; }
    .ui-sub-menu { z-index: 5; margin-top: 0 !important; background: transparent;  }
    .ui-top-menu { z-index: 0; border-top: 0 !important; padding-top: 0.25em; margin-top: -0.25em; background: #ffffff; border-right: 2px solid #ffffff !important; }
    .ui-top-menu, .ui-sub-menu { margin: 0; float: left; border: 1px solid #cfcfcf; -moz-box-shadow: 0em 0 50px #bbbbbb; -webkit-box-shadow: 0 0 50px #bbbbbb; box-shadow: 0 0 50px #bbbbbb; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;  }
    .ui-sub-menu-spacing { z-index: -1; background: transparent; cursor: default !important; }
    
    /* menu title modifications */
    .ui-menu-title { margin-right: 2em !important; }
    .ui-menu-title.ui-state-default {  }
    .ui-menu-title.ui-state-active { }
    
    /* icons */
    .ui-menu-check-icon { height: 12px; width: 12px; background-repeat: no-repeat; background-color: transparent; border-left: 2px solid transparent; background-image: url("../../img/layout/check/black/check.png"); opacity: 0; visibility: hidden; }
    .ui-menu-check-icon.ui-state-active { background-repeat: no-repeat; background-color: transparent; border: 0; background-image: none; border-left: 2px solid transparent; }
    .ui-menu-checked { visibility: visible; opacity: 0.6; }
    .ui-state-active.ui-menu-checked { background-image: url("../../img/layout/check/white/check.png"); }
    
    .ui-menu-parent-icon { opacity: 0.6; border: 0; border-right: 8px solid transparent; height: 12px; width: 12px;  background-image: url("../../img/layout/parent_arrow/black/right.png"); background-repeat: no-repeat; background-color: transparent; }
    .ui-state-active.ui-menu-parent-icon { opacity: 0.6; background-repeat: no-repeat; border: 0; background-image: url("../../img/layout/parent_arrow/white/right.png"); background-color: transparent; }

/* tool tip styling */
.tool_tip_info {  position: absolute; z-index: 99999; display: none; padding: 0px; cursor: pointer; }
.tool_tip_pointer { width: 22px; height: 12px; background-repeat: no-repeat; margin: 0px; padding: 0; }
.tool_tip_top {  background-image: url("../../img/tool_tip/tool_tip_up_80.png"); }
.tool_tip_bottom { background-image: url("../../img/tool_tip/tool_tip_down_80.png"); }
.tool_tip_text { background-image: url("../../img/tool_tip/tool_tip_bg_80.png"); color: #ffffff; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; padding: 0.5em 0.75em; margin: 0px;  }

/* save, open */
.swf { position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 9999;  } 

/* side tabs */
#side .header { position: relative; }
#side .content { position: relative; }

/* filters */
#filter_header ul { margin: 0; display: inline; }
#filter_header li { margin: 0; display: inline; }
#filter_header li a { text-decoration: none; padding: 0.25em; border: 1px solid #cfcfcf; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
#filter_header li a.selected { border: 1px solid #0b94b1; background-color: #0b94b1; color: #ffffff;  }
#filter label { display: block; padding-top: 1em; clear: both; }
#filter .attribute { clear: both; float: left; width: 100%; }
#filter .range_area { margin-left: 4em; margin-right: 4em; clear: both; }
#filter .range_min, #filter .range_max { width: 40%; margin-top: 0.25em; }
#filter .range_min { float: left; }
#filter .range_max { float: right; }
#filter .string_search { display: block; width: 50%; }
#filter .silder_area { clear: both; }
#filter .slider { margin: 0 4em; }
#filter .slider_min, #filter .slider_max { color: #707070; width: 3.125em; display: block; line-height: 1em; font-size: 0.8em; }
#filter .slider_min { float: left; text-align: right; padding-right: 1.25em;  }
#filter .slider_max { float: right; text-align: left; padding-left: 1.25em;  }
#filter .stats_area { margin: 0 4em; height: 1em; position: relative; }
#filter .stat { width: 1px; height: 100%; position: absolute; background-color: #0b94b1; opacity: 0.25; }

.floating_widget { border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -moz-box-shadow: 0 0 50px #bbbbbb; -webkit-box-shadow: 0 0 50px #bbbbbb; box-shadow: 0 0 50px #bbbbbb; background: #363636; background: rgba(54, 54, 54, 0.8); z-index: 9999; }

/* colour picker */
#colour_picker { clear: both; width: 200px; height: 200px; }
#colour_picker .header { position: absolute; top: 0; left: 0; z-index: 1; }
.farbtastic {  position: relative; }
.farbtastic * {  position: absolute;  cursor: crosshair; }
.farbtastic, .farbtastic .wheel {  width: 195px;  height: 195px; }
.farbtastic .color, .farbtastic .overlay {  top: 47px;  left: 47px;  width: 101px;  height: 101px; }
.farbtastic .wheel {  background: url("../../img/farbtastic/wheel.png") no-repeat;  width: 195px;  height: 195px; }
.farbtastic .overlay {  background: url("../../img/farbtastic/mask.png") no-repeat; }
.farbtastic .marker {  width: 17px;  height: 17px;  margin: -8px 0 0 -8px;  overflow: hidden;   background: url("../../img/farbtastic/marker.png") no-repeat; }

/* shape picker */
#node_shape_picker { width: 240px; padding: 5px; }
#edge_shape_picker { width: 180px; padding: 5px; }
.shape_picker .shape { width: 50px; height: 50px; background-color: #ffffff; background-position: center center; background-repeat: no-repeat; float: left; margin: 5px; cursor: pointer; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
.shape_picker .shape.rectangle { background-image: url("../../img/icons/shapes/rectangle.png"); }
.shape_picker .shape.roundrect { background-image: url("../../img/icons/shapes/roundrect.png"); }
.shape_picker .shape.diamond { background-image: url("../../img/icons/shapes/diamond.png"); }
.shape_picker .shape.ellipse, .shape_picker .shape.circle { background-image: url("../../img/icons/shapes/ellipse.png"); }
.shape_picker .shape.hexagon { background-image: url("../../img/icons/shapes/hexagon.png"); }
.shape_picker .shape.triangle { background-image: url("../../img/icons/shapes/triangle.png"); }
.shape_picker .shape.delta { background-image: url("../../img/icons/shapes/delta.png"); }
.shape_picker .shape.parallelogram { background-image: url("../../img/icons/shapes/parallelogram.png"); }
.shape_picker .shape.octagon { background-image: url("../../img/icons/shapes/octagon.png"); }
.shape_picker .shape.t { background-image: url("../../img/icons/shapes/t.png"); }

/* resizing panes */
.ui-layout-resizer { display: block; background: url("../../img/layout/grip.png") #ffffff; cursor: w-resize; }
.ui-layout-resizer-drag { visibility: hidden; }
#overlay, #cytoweb_overlay { width: 100%; height: 100%; background: transparent; position: absolute; left: 0; top: 0; z-index: 9999; display: none; }
.resizing { opacity: 0.5; }

/* save screen */
.save_screen { opacity: 0.99 /* needs to be for firefox cytoweb recalculate layout */; width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: #ffffff; z-index: 10000; overflow: auto; }
.save_screen .corner { cursor: pointer; position: absolute; left: 0; top: 0; width: 250px; height: 250px; background: url("../../img/layout/back_empty.png"); }
.save_screen .corner * { cursor: pointer; }
.save_screen .corner span { color: #ffffff; line-height: 1; width: 140px; margin: 20px 0 0 30px; display: block; }
.save_screen .corner .icon { width: 64px; height: 64px; background-image: url("../../img/icons/oxygen/64x64/actions/back.png"); position: absolute; left: 30px; top: 60px; }
.save_screen .description { color: #707070; text-align: center; margin-bottom: 1em; width: 100%; }
.save_screen .selections { height: 250px; width: 500px; top: 50%; margin: -125px auto 0 auto; position: relative; }
.save_screen .selection { cursor: pointer; float: left; width: 128px; margin: 1em; position: relative; z-index: 9999; }
.save_screen .selection label { display: block; position: absolute; right: 20px; top: 8px; z-index: 10000; color: #707070; }
.save_screen .selection span { font-size: 80%; color: #0b94b1; }
.save_screen .icon { width: 128px; height: 128px; background: url("../../img/icons/oxygen/128x128/mimetypes/empty.png"); position: relative; z-index: 9999;  }
#save_pdf .icon { background: url("../../img/icons/oxygen/128x128/mimetypes/pdf.png"); }
#save_xgmml .icon { background: url("../../img/icons/oxygen/128x128/mimetypes/xml.png"); }
#save_graphml .icon { background: url("../../img/icons/oxygen/128x128/mimetypes/xml.png"); }

/* screens */
.screen { opacity: 0.99 /* needs to be for firefox cytoweb recalculate layout */; width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: #ffffff ; background: rgba(255, 255, 255, 0.85); z-index: 9999;  }
.loading_screen { background: #ffffff; }
.screen * { text-decoration: none; }
.screen .notification  { width: 200px; background: #ffffff;  position: relative; top: 50%; padding: 2em; margin: -100px auto 0 auto; }
.error_screen .notification, .info_screen .notification, .warning_screen .notification { border: 1px solid #e0e0e0; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -moz-box-shadow: 0 0 50px #bbbbbb; -webkit-box-shadow: 0 0 50px #bbbbbb; box-shadow: 0 0 50px #bbbbbb; }
.screen .notification .icon, .screen .notification .heading, .screen .notification .message { margin: 0 auto 1em auto; display: block; font-size: 1em; }
.screen .notification .icon { margin-bottom: 1em; background: url("../../img/layout/loader.gif") no-repeat transparent; height: 32px; width: 32px; }
.info_screen .notification .icon { background-image: url("../../img/icons/oxygen/32x32/actions/messagebox_info.png"); }
.error_screen .notification .icon { background-image: url("../../img/icons/oxygen/32x32/actions/messagebox_critical.png"); }
.warning_screen .notification .icon { background-image: url("../../img/icons/oxygen/32x32/actions/messagebox_warning.png"); }
.screen .corner { cursor: pointer; position: absolute; left: 0; top: 0; width: 250px; height: 250px; background: url("../../img/layout/back_empty.png"); z-index: 1; }
.screen .corner * { cursor: pointer; }
.screen .corner .icon { width: 64px; height: 64px; background-image: url("../../img/icons/oxygen/64x64/actions/back.png"); position: absolute; left: 30px; top: 60px; }
.screen .corner span { color: #ffffff; line-height: 1; width: 140px; margin: 20px 0 0 30px; display: block;  }
.screen .heading { color: #707070; text-align: center; margin-bottom: 1em; width: 100%; }
.screen .message { width: 200px; }


/* examples */
#examples .entry { margin: 0 0 1em 0; }
#examples .entry .name { padding: 0; }
#examples .entry .icon { min-width: 230px; max-width: 600px; height: 50px; background-position: center center; background-color: #e0e0e0; border: 1px solid #cfcfcf; }
#examples .entry.pathguide .icon { background-image: url("../../img/content/demo/examples/pathguide.png"); }
#examples .entry.genetics .icon { background-image: url("../../img/content/demo/examples/genetics.png"); }
#examples .entry.disconnected .icon { background-image: url("../../img/content/demo/examples/disconnected.png"); }
#examples .entry.shapes .icon { background-image: url("../../img/content/demo/examples/shapes.png"); }
#examples .entry.peterson .icon { background-image: url("../../img/content/demo/examples/petersen.png"); }
#examples .entry, #examples .entry * { cursor: pointer; }
#examples .entry .description { color: #000000; }

/* info tab */
#info { padding: 0 !important; margin: 0 !important; height: 100%; }
#info .half { height: 50%; overflow: auto; }
#info .half:first-child { border-bottom: 1px solid #808080; margin-top: -1px; }
#info .half .section { padding: 1em 1.4em;  }
#info .section h1 { }
#info .tablesorter th label { padding: 0.25em 1.5em 0.25em 0.25em; margin-left: -0.25em; cursor: pointer; }
#info .tablesorter th.headerSortDown label, #info .tablesorter th.headerSortUp label { background-repeat: no-repeat; background-color: #0b94b1; color: #ffffff; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
#info .tablesorter th.headerSortUp label { background-image: url("../../img/layout/open_arrow/white/up.png"); background-position: right center; }
#info .tablesorter th.headerSortDown label { background-image: url("../../img/layout/open_arrow/white/down.png"); background-position: right center; }

/* vizmapper tab */
#vizmapper label.style { display: block; padding-top: 1em; clear: both; }
#vizmapper .property { clear: both; position: relative; }
#vizmapper .property input { display: block; width: 10em; }
#vizmapper .property input.colour_sample_bg { background-image: url("../../img/input_for_colour_picker/bg.png"); background-position: center right; background-repeat: repeat-y; }
#vizmapper .property .default {  float: left; }
#vizmapper .property .map_button { float: left; margin: 0.1em 0.25em; padding: 0.1em; cursor: pointer; }
#vizmapper .property .map_section { position: relative; clear: both; float: left; width: 100%; }
#vizmapper .property .selector { left: 0; top: 0; position: relative; margin-left: auto; margin-right: auto; border-top: 0 !important; }
#vizmapper .property li.title { margin-right: 0 !important; width: 100% !important; }
#vizmapper .property label.title { float: none !important; display: block; }
#vizmapper .property .continuous, #vizmapper .property .discrete { position: relative; border: 1px solid #ababab; border-width: 0 1px 1px 1px; padding: 1em; clear: both; max-height: 15em; overflow: auto; }
#vizmapper .property .continuous_min_name { display: block; padding-top: 0.5em; }
#vizmapper .property .continuous_max_name { display: block; }
#vizmapper .property .continuous .line { width: 5em; position: absolute; height: 100%; z-index: -1; top: 0; right: 0; }
#vizmapper .property .continuous .arrow_top { position: absolute; left: 50%; margin-left: -8px; margin-top: 1em; top: 0; }
#vizmapper .property .continuous .arrow_bottom { position: absolute; left: 50%; margin-left: -8px; margin-bottom: 1em; bottom: 0; }
#vizmapper .property .continuous .middle { text-align: center; position: absolute; top: 50%; margin-top: -0.75em; width: 100%; }
#vizmapper .property .selector .ui-top-menu { z-index: 9999; }
#vizmapper .property label.discrete_name { display: block; padding-top: 0.5em; }
#vizmapper .property label.discrete_name:first-child { padding-top: 0em; }