# This props file would be filled out and included in the plugin jar file.  This props file will be used 
# to put information into the Plugin Manager about the plugin 

# -- The following properties are REQUIRED -- #

# The plugin name that will be displayed to users
pluginName=My Plugin

# Description used to give users information about the plugin such as what it does.  
# Html tags are encouraged for formatting purposes.
pluginDescription=Information about the plugin that will be displayed to users

# Plugin version number, this must be two numbers separated by a decimlal.  Ex. 0.2, 14.03
pluginVersion=1.0

# Compatible Cytoscape version
cytoscapeVersion=2.5

# Category, use one of the categories listed on the website or create your own
pluginCategory=Scripting/Communication


# -- The following properties are OPTIONAL -- #

# URL to a website that gives more information about your plugin, Ex. http://my-lab-site.org
projectURL=http://my-lab-site.org/myCytoscapePlugin

# List of authors.  Note each author and institution pair are separated by a : (colon)
# each additional author institution pair must be separated from other pairs bye a ; (semicolon)
pluginAuthorsIntsitutions=Sarah and Victor:ISB;Mike, Kei and Peng:UCSD

# Date this plugin/plugin version was released
releaseDate=May 1, 2008


# -- The following properties should be set ONLY BY CORE PLUGINS -- #

# URL where these plugins will be found on (xml file describing all plugins)
downloadURL=http://cytoscape.org/plugins/plugins.xml

# Unique identifier, for core plugins this would come from the database and should not change, all other plugins will
# have defined this in the download xml file and shout NOT set this property
uniqueID=1 